<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Your Experiences
  </h1>
  <row>
    <div class="col-md-4 col-md-offset-3 pull-right newExperienceButton">
      <a href="#" class="button is-secondary">My Templates</a>
      <%= link_to dashboard_experiences_new_path, :class=> "button is-primary" do %>
        <i class="fa fa-plus"></i>
        Create Experience
      <% end %>

    </div>
    </div>
  </row>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset" ng-app="chatApp">
  <div class="row">
    <div class="col-md-12">
      <ul class="experienceList">
        <li class="clearfix">
          <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
          <div class="experienceDetails">
            <div class="heading">
              <strong><a href="#">Some awesome experience name</a></strong>
            </div>
            <div class="subDetails">
              <ul>
                <li>Attendees: <strong>5</strong></li>
                <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
              </ul>
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
          <div class="experienceDetails">
            <div class="heading">
              <strong><a href="#">Some awesome experience name</a></strong>
            </div>
            <div class="subDetails">
              <ul>
                <li>Attendees: <strong>5</strong></li>
                <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
              </ul>
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
          <div class="experienceDetails">
            <div class="heading">
              <strong><a href="#">Some awesome experience name</a></strong>
            </div>
            <div class="subDetails">
              <ul>
                <li>Attendees: <strong>5</strong></li>
                <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>