<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Experiences - Option 2</h3>
</div>
<!-- END PAGE TITLE -->



<% @experiences.in_groups_of(3, false) do |experiences| %>
  <div class="row">
    <% experiences.each do |experience| %>
      <div class="col-md-4">
        <div class="widget-item narrow-margin">
          <div style="max-height:214px" class="tiles green  overflow-hidden full-height">
            <div class="overlayer bottom-right fullwidth">
              <div class="overlayer-wrapper">
                <div class="tiles gradient-black p-l-20 p-r-20 p-b-20 p-t-20">
                  <div class="pull-right"> <a class="hashtags transparent" href="#"> #Art Design </a> </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--TODO: Change this image to the image of the experience-->
            <img class="lazy hover-effect-img image-responsive-width" alt="" src="assets/img/others/10.png"> </div>
          <div class="tiles white ">
            <div class="tiles-body">
              <div class="row">
                <div class="user-comment-wrapper pull-left">
                  <div class="comment">
                    <div class="user-name text-black bold"> <%= experience.name %> </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="p-l-15 p-t-10 p-r-20">
                  <p><%= truncate(experience.description, length: 100) %></p>
                  <div class="post p-t-10 p-b-10">
                    <ul class="action-bar no-margin p-b-20 ">
                      <li><a href="#" class="text-info bold"><i class="fa fa-users  m-r-10"></i>1584</a> </li>
                      <li><a href="#" class="text-info bold"><i class="fa fa-heart  m-r-10"></i>47k</a> </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- END EXPERIENCE ITEM -->
    <% end %>
  </div>
<% end %>





