<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Templates
  </h1>
  <row>
    <div class="col-md-2 col-md-offset-5 pull-right newExperienceButton">
      <!--<a href="#" class="button is-primary"><i class="fa fa-plus"></i> Create Template</a>-->
      <%= link_to "Create Template", new_experience_path, :class => "button is-primary" %>
    </div>
  </row>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">

  <% if @templates.blank? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="explanation">
          <%= image_tag "templateIcon.png" %>
          <p>
            Templates are reusable experiences. They have the same content as you put. Once you have a template you can create as many experiences from it without having to retype the content into the form.
          </p>
          <p>
            <%= link_to "Create Template", new_experience_path %>
          </p>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row">
      <div class="col-md-12">
        <ul class="experienceList">
          <li class="clearfix">
            <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
            <div class="experienceDetails">
              <div class="heading">
                <strong><a href="#">Some awesome experience name</a></strong>
              </div>
              <div class="subDetails">
                <ul>
                  <li>Attendees: <strong>5</strong></li>
                  <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
            <div class="experienceDetails">
              <div class="heading">
                <strong><a href="#">Some awesome experience name</a></strong>
              </div>
              <div class="subDetails">
                <ul>
                  <li>Attendees: <strong>5</strong></li>
                  <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
                </ul>
              </div>
            </div>
          </li>

          <li class="clearfix">
            <img src="http://lorempixel.com/200/100" class="experienceThumb"/>
            <div class="experienceDetails">
              <div class="heading">
                <strong><a href="#">Some awesome experience name</a></strong>
              </div>
              <div class="subDetails">
                <ul>
                  <li>Attendees: <strong>5</strong></li>
                  <li>Revenue: <strong><span class="currency">Rs </span> 5000</strong></li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  <% end %>


</div>