.image-controls {
  background: red;
  position: relative;
  z-index: 1000;
  display: inline-block;
  float: right; }

.editable {
  border: 1px solid red; }

.editableHover {
  outline: #00a9d4 dotted thin; }
