/************************************************************************/
/* Colors */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00932c;
/************************************************************************/
/* Datepicker styling */
/************************************************************************/
.ui-datepicker
{
	width: 100%;
	height: auto;
	margin: 5px auto 0;
	a
	{
		text-decoration: none;
	}
	table
	{
		width: 100%;
	}
}

.ui-datepicker-header
{
	text-transform: uppercase;
	color: #7e7e7e;
}
.ui-datepicker-title
{
	text-align: center;
	margin: 20px 0;
}
.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width: 30px;  
    height: 30px;  
    text-align: center;  
    cursor: pointer;  
    //background-image: url('../img/arrow.png');  

    //background-repeat: no-repeat;  
    line-height: 600%;  
    //overflow: hidden;  
    color: #cbcbcb;
}  
.ui-datepicker-prev {  
    float: left;  
    //background-position: center;  
    margin-top: -35px;
    i
    {
    	margin-left: -20px;
    }
}  
.ui-datepicker-next {  
    float: right;  
    margin-top: -35px;
    i
    {
    	margin-left: -20px;
    }
}  
.ui-datepicker-month
{
	font-weight: bold;
}
.ui-datepicker thead
{
	color: #dcdcdc;
	text-transform: uppercase;	
}
.ui-datepicker tbody td {  
    padding: 10px;  
    text-align: center;
    a
    {
    	color: #7e7e7e;
    	font-weight: bold;

    }
    &:hover
    	{
    		background: $brand_blue;
    		color: #fff;
    		cursor: pointer;
    		a
    		{
    			color: white;
    		}
    	}
}  
