// Place all the styles related to the dashboard/experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title
{
  display: inline;
}
.newExperienceButton
{
  text-transform: uppercase;
  i
  {
    margin-right: 10px;
    font-size: 18px;
    float: left;
  }
}

.experienceList
{
  list-style: none;
  margin: 0;
  padding: 0;
  > li
  {
    border-top: 1px solid #ebebe3;
    padding: 20px 0;
    &:last-child
    {
      border-bottom: 1px solid #ebebe3;
    }
    .experienceDetails
    {
      float: left;
      margin-top: 20px;
    }
    .experienceThumb
    {
      float: left;
      margin-right: 10px;
    }
    .subDetails
    {
      ul
      {
        list-style: none;
        margin: 10px 0 0 0;
        padding: 0;
        color: #6f6f4f;
        li
        {
          display: inline;
          margin-right: 10px;
        }
      }
    }
  }
}