// Place all the styles related to the dashboard/experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title
{
  display: inline;
}
.newExperienceButton
{
  text-transform: uppercase;
  i
  {
    margin-right: 10px;
    font-size: 18px;
    float: left;
  }
}