/************************************************************************/
/* Colors */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00932c;
/************************************************************************/
/* Onboarding section styles */
/************************************************************************/
.onboarding_steps
{
	//color: #aaa;
	ul
	{
		list-style: none;
		padding: 0;
		li
		{
			margin-top: 20px;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 20px 0;
			.step
			{
				//margin-right: 60px;
				display: inline;
			}
			p
			{
				margin-right: 60px;
				margin-top: 5px;
				//float: left;

			}			
			img
			{
				float: left;
				margin-right: 20px;
			}
			.step_status
			{
				font-size: 30px;
				color: $contrast_green;
				display: inline;
				margin-top: -75px;
			}
		}
	}
}
/************************************************************************/
/* Reports section styles */
/************************************************************************/
.keyStat
{
	background: #eee;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	font-weight: bold;
	span
	{
		font-size: 15px;
		display: block;
		text-transform: uppercase;
		color: #bbb;
	}
}