/************************************************************************/
/* Brand colors */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00e23c;
$header_bg_color: #ecf0f3;
$trial_bg_color: #3d4548;
$sub_blue: #ccd1d2;
/************************************************************************/
/* Address */
/************************************************************************/
.address
{
  input
  {
    margin-bottom: 20px;
  }
}
/************************************************************************/
/* Experiences new styles */
/************************************************************************/
#newExperience
{
  input[type=text]
  {
    border: 1px solid $sub_blue;
  }

  .form-group
  {
    margin-bottom: 20px;
  }

  .first-title
  {
    //text-transform: uppercase;
    margin-bottom: 40px;
    //color: #999;
    h2
    {
      //padding-top: 15px;
      font-size: 16px;
      margin-bottom: 40px;
    }
    img
    {
      float: left;
      //margin-right: 20px;
    }
  }
  .subRows 
  {
    //margin-left: 74px;
    margin-bottom: 20px;
    .image-upload
    {
      //margin-right: -74px;
      border: 2px dashed $sub_blue;
      padding:  20px 5px;
      text-align: center;
      span
      {
        color: $brand_blue;
      }
      i
      {
        display: block;
        font-size: 60px;
        color: $sub_blue;
        margin: 10px 0;
      }
    }
    
  }
  label
  {
    color: #bbb;
    font-size: 12px;
    display: block;
  }
  .form-group
  {
    //margin-left: 74px;
  }

  .map_canvas
  {
    width: 100%;
    height: 300px;
    background: #CCCCCC;
  }

  .wizard
  {
    ul
    {
      padding: 0;
      list-style: none;
      li
      {
        display: inline;
        margin-right: 20px;
      }

    }

    .steps
    {
      margin-bottom: 20px;
      a
      {
        color: $brand_blue;
      }
      ul
      {
        li.current
        {
          background: $brand_blue;
          padding: 10px;
          a
          {
            color: white;
          }
        }
        li
        {
          a
          {
            &:hover
            {
              background: $brand_blue;
              padding: 10px;  
              color: white;
              text-decoration: none
            }
          }
        }

      }
    }

  }
  .experienceSchedule 
  {
    //margin-left: 74px;
    margin-top: 20px;
    .scheduleFor
    {
      //float: left;
      font-weight: bold;
    }
    .dayBox
    {
      background: $sub_blue;
      display: inline-block;
      padding: 5px 10px;
      color: $trial_bg_color;
      font-weight: bold;
      &:hover
      {
        background: $trial_bg_color;
        color: $sub_blue;
        cursor: pointer;
      }
    }
  }

  .description
  {
    //margin-left: 74px;
    margin-bottom: 10px;
    textarea
    {
      border: 1px solid $sub_blue;
      border-top-left-radius:4px;
      border-top-right-radius:4px;
      border-bottom-right-radius:0;
      border-bottom-left-radius:0;

    }
    .additionaActions
    {
      border: 1px solid $sub_blue;
      border-top: none;
      padding: 10px;
      border-bottom-right-radius:4px;
      border-bottom-left-radius:4px;
    }

  }

}