/************************************************************************/
/* Colors */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #d6f7ff;
$contrast_green: #00932c;
$subtle_grey: #ededed;
/************************************************************************/
/* About section */
/************************************************************************/
.aboutHeading
{
	margin-bottom: 20px;
	h3
	{
		margin-top: 0px;
	}
}
.noPic
{
	background: $subtle_grey;
	border: 1px solid #e4e4e4;
	padding: 40px;
	text-align: center;
	color: #323232;
	text-transform: uppercase;
	i
	{
		font-size: 30px;
	}
	//width: 100%;
}
.explanationBox
{
	background: $brand_blue_toned_down;
	padding: 10px;
	color: #00627A;
}
/************************************************************************/
/* Explanation */
/************************************************************************/


/************************************************************************/
/* Explanation */
/************************************************************************/


/************************************************************************/
/* Explanation */
/************************************************************************/