<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Communications
  </h1>
</div>

<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
  <div class="row">
    <div class="col-md-4">
      <h4>Messages</h4>

      <%# @messages_by_email.inspect %>

      <ul>
        <% @messages_by_email.each do |email, messages| %>
          <li><%= email %></li>
          <ul>
            <% messages.each do |message| %>
              <li><%= message.inspect %></li>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8">
      <h4>Message Content</h4>
    </div>
  </div>
</div>


