<!-- NEW MESSAGE FORM -->
<%= form_for(@message) do |f| %>
  <div class="form-group">
    <div class="controls">
      <textarea name="messages_body" id="" class="form-control" rows="5" placeholder="Add your response" required="required"></textarea>
    </div>
  </div>
  <button class="btn btn-primary btn-cons" type="button">Reply</button>

<% end %>
<!-- END NEW MESSAGE FORM -->