<div class="grid simple">
  <!--GRID BODY START-->
  <div class="grid-body">
    <!--NOTIFICATION ABOUT NO EXPERIENCES START-->

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="get-started-title p-b-40 text-center">
          <div class="step-icon"><i class="fa fa-life-ring" style="font-size: 6em"></i></div>
          <h4>No messages yet! As soon as someone messages you it will show up here.</h4>
        </div>


        <%# link_to "New Experience", dashboard_experiences_new_path, :class => "btn btn-primary btn-cons"  %>
      </div>
    </div>


    <!--NOTIFICATION ABOUT NO EXPERIENCES END-->
  </div>
  <!--GRID BODY END-->
</div>