<div class="hostDashboard">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="dashboard">
          <%= link_to "New Experience", new_experience_path, :class => "button is-primary"%>
          <h1>Dashboard</h1>
          <ul>
            <li>
              <a href="#">Sample experience</a>
              <div class="subDetails">
                <span>Attendees: <strong>10</strong></span>
                <span>Expected Revenue: <strong>Rs 10000</strong></span>
              </div>
            </li>

            <li>
              <a href="#">Sample experience</a>
              <div class="subDetails">
                <span>Attendees: <strong>10</strong></span>
                <span>Expected Revenue: <strong>Rs 10000</strong></span>
              </div>
            </li>

            <li>
              <a href="#">Sample experience</a>
              <div class="subDetails">
                <span>Attendees: <strong>10</strong></span>
                <span>Expected Revenue: <strong>Rs 10000</strong></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
