<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div id="about">
        <h2>Tell people about yourself</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>





