<!-- Modal -->
<div class="modal fade" id="messageHost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" id="new_conversation">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <br>
          <h4 id="myModalLabel" class="semi-bold">Have a question?</h4>
          <p class="no-margin">Send the host a message and they will get back to you shortly. </p>
          <br>

          <div class="alert alert-success" id="conversation_created_success">
            <button data-dismiss="alert" class="close"></button>
            Success: Your message was submitted successfully.
          </div>

        </div>
        <div class="modal-body new_conversation_body">
          <div class="row form-row">
            <div class="col-md-6">
              <input type="text" id="message_name" class="form-control" name="message[name]" placeholder="Your Name">
            </div>
            <div class="col-md-6">
              <input type="text" id="message_email" class="form-control" name="message[from]" placeholder="Your Email Id" required>
            </div>
          </div>
          <div class="row form-row">
            <div class="col-md-12">
              <!--<input type="text" class="form-control" placeholder="Card Holder's Name">-->
              <textarea id="message_body" class="form-control" rows="5" name="message[body]" placeholder="Your Message" required></textarea>
            </div>
          </div>
        </div>

        <input type="hidden" name="message[experience_id]" id="message_experience_id" value="<%= experience_id %>"/>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="send_conversation">Send Message</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->