<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" id="about_experience" >
  <div class="container">

    <div class="p-t-60 p-b-20">
      <div class="row">
        <div class="col-md-6 feature-list ">
          <h2 class="normal">What do <span class="semi-bold">you get</span></h2>
          <%# simple_format(experience.description) %>
          <p>
            It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.
          </p>
          <p>
            To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?
          </p>
          <p>
            If you could see the earth illuminated when you were in a place as dark as night, it would look to you more splendid than the moon.
          </p>
          <p>
            You know, being a test pilot isn't always the healthiest business in the world.
          </p>
          <p>
            The Earth was small, light blue, and so touchingly alone, our home that must be defended like a holy relic. The Earth was absolutely round. I believe I never knew what the word round meant until I saw Earth from space.
          </p>
        </div>
        <div class="col-md-6 col-vlg-4 col-sm-12 ">
          <h3><span class="semi-bold">Join </span>now</h3>
          <h2><i class="fa fa-usd"></i> <span class="semi-bold">$60</h2>
          <%= render partial: 'form' %>

        </div>

      </div>
      <br>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
