<!--THINGS TO REMEMBER START-->
<div class="section white">
  <div class="p-t-40 p-b-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-text">
            <h3 class="normal">Things to <span class="semi-bold">remember</span></h3>
            <p>
              It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very small.
            </p>
            <p>
              To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?
            </p>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
<!--THINGS TO REMEMBER END-->