<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Fill seats <span>faster</span></h1>
        <%= image_tag "headerImage/headerImage.png" %>
      </div>
    </div>
  </div>
</div>

<div class="keyFeatures">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-comments fa-5"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-compass"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa fa-envelope"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-eye"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-mobile-phone"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-quote-left"></i>
        <div class="content">
          <h4>Some heading</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem. Aliquam erat volutpat. Duis vel mi augue.
          </p>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="screenShots">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h2>Screenshots</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ul class="screenShotsList">
          <li class="selected">
            <h4>Powerful dashboard</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem.
            </p>
          </li>

          <li>
            <h4>Powerful dashboard</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem.
            </p>
          </li>

          <li>
            <h4>Powerful dashboard</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas orci tellus, ornare in porta non, tempus et lorem.
            </p>
          </li>


        </ul>
      </div>
      <div class="col-md-6">
        <%= image_tag "fillerImages/content/contentImage.png", :class => "img-responsive" %>
      </div>
    </div>
  </div>
</div>