<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag 'logo.png' %>
      </div>

      <div class="col-lg-6">
        <div class="login">
          <div class="userInfo pull-right">
            <a href="#" class="button is-secondary">Login/Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        Header goes here
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content">
        <div class="row">
          <div class="col-lg-4">
            <div class="filter">
              <div class="cityFilter">
                <strong class="filterHeader">Filter</strong>
                <input type="text" class="form-control" placeholder="Enter your city"/>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="experiencesContainer">
              <h3>Experiences in [city name]</h3>

              <div class="experienceHomePage">
                <div class="row">
                  <div class="col-lg-6 image">
                    <%= image_tag "sample-experience.jpg", :class => "img-responsive" %>
                  </div>
                  <div class="col-lg-6 experienceDetails">
                    <h4>Some awesome event name</h4>
                    <div class="experiencesubDetails">
                      Thursday, 5 November 2013 at 1 PM
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="sell">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        host sell goes here
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        Footer goes here
      </div>
    </div>
  </div>
</div>

