<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="static">
        <h1>Privacy Statement</h1>
        <p>
          <strong>Effective Date: November 15, 2013</strong>
        </p>
        <p>
          UrbanZeak (“<strong>UrbanZeak</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”) is wholly owned by Gyeser, which maintains the website at {link_to "http://www.urbanzeak.com"} (the “Site”) and provides related services (collectively, such services, including any new features and applications, and the Site, the “Services”). We have developed this privacy statement (as updated and amended from time to time, this “Privacy Statement”) to explain how we collect, use, communicate and disclose certain information.
        </p>

        <h4>Information Collected and How it is Used</h4>
        <p>
          Personal Information. UrbanZeak collects Personal Information from you when you voluntarily provide such information through the Services (e.g., purchase an experience, utilize messaging services, register for email or contact us with inquiries). UrbanZeak does not sell or disclose your Personal Information for third party marketing purposes without your explicit consent or authorization.
        </p>
        <p>
          From time to time, UrbanZeak may engage in business partnerships that require us to collect information on the referring website (or co-branded landing page) that directed you to our Site and, if you purchase an experience, to associate some of your Personal Information and your purchase with the referring website or co-branded landing page (in which case we will consider the referring website or co-branded landing page to be your Personal Information as well).
        </p>
        <p>
          We also may collect Personal Information through our “Tell a Friend” feature. “Tell a Friend” allow members to share information about a specific item listed on UrbanZeak by sending a personalized email message. If you choose to use UrbanZeak’s “Tell a Friend” feature, UrbanZeak will ask for the information needed to send the message, such as your friend’s email address. UrbanZeak will then automatically facilitate the delivery of the email to your friend, inviting your friend to visit the Site. UrbanZeak does not store “Tell a Friend” information on our servers or use it for any other purpose other than to fulfill send the email at your request. Your friend may utilize the “unsubscribe” link in the email to opt-out of receiving future “Tell a Friend” emails from UrbanZeak.
        </p>
        <p>
          Non-Personally Identifiable or Aggregated Data. When you interact with UrbanZeak through the Services, UrbanZeak automatically receives and records certain Non-Personally Identifiable Information, including your IP address, browser type, access times and the pages you request. UrbanZeak may use such information to track, for example, the total number of visitors to the Site, the number of users who visit each page of the Site, the domain names of our users’ Internet service providers and how our users use and interact with the Services. Also, we may anonymize compile and aggregate Personal Information into Non-Personally Identifiable Information.
        </p>
        <p>
          We may use information we collect from or about you to:
        </p>

        <ul>
          <li>Allow the Experience Provider, directly, or through a Host, to contact you or otherwise fulfill the Experience you purchased through the Site or our Parent Company’s Site;</li>
          <li>Administer your account and provide you with Services and customer support;</li>
          <li>Tailor the features, content, performance and support of the Site or Services to you;</li>
          <li>Provide you with personalized ads and offers for products and services from us and our Affiliates and Business Partners</li>
          <li>Perform analytics and conduct customer research;</li>
          <li>Respond to your requests, resolve disputes and/or troubleshoot problems</li>
          <li>Verify your compliance with your obligations in our Terms of Use;</li>
          <li>Improve the quality of the Site and the Services; and</li>
        </ul>

        <h4>Cookies</h4>
        <p>
          A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a website’s computers and stored on your computer’s hard drive. When you visit the Site, we send one or more cookies to your computer or other device. We use cookies to improve the quality of the Services, including for storing user preferences and tracking user trends, such as how people search. We also may use third party tracking services to track and analyze Non-Personally Identifiable Information associated with users of our Site and Services. Such third parties may use Cookies to help track user behavior. You can configure your browser to accept all cookies, reject all cookies, or notify you when a cookie is set. Some of the Services and the Site’s features require you to accept cookies. If you configure your browser to reject cookies, you will not be able to take advantage of these Services and features.
        </p>
        <p>
          We do not share Personal Information with Third-Party Ad-Servers; however, Third-Party Ad-Servers may automatically collect Non-Personally Identifiable Information about your visit to the Site and other websites, your device address, your Internet Service Provider and the browser you use to visit the Site. They do this by using Cookies, clear gifs and other technologies. Information collected may be used, among other things, to deliver advertising targeted to your interests and to better understand the usage and visits to the Site and the other websites tracked by these third parties. Third Party Ad Servers may collect and use Personal Information from other sources as part of its ad serving. This Privacy Statement does not cover the collection methods or use of the information collected by Third-Party Ad-Servers, and UrbanZeak is not responsible for Cookies, clear gifs, or other technologies in third party ads. We encourage you to review the privacy policies or statements of these Third-Party Ad Servers to learn more about their use of Cookies and other technologies.
        </p>
        <p>
          We do not collect Personal Information about your online activities over time and across third-party Web sites or online services. As a result, we do not alter any of our data collection and use practices upon receipt of a web browser’s “do not track” signal, as they do not apply to the Services or our Site. Where a user or web browser transmits a “do not track” signal, third parties that place cookies and collect information on the Site will be able to see that such a signal has been transmitted.
        </p>

        <h4>Host Profiles</h4>
        <p>
          If you host an Experience that is featured on the Site the Profile you create, including any Personal Information, will be publicly displayed on the Site. UrbanZeak users and Customers may use information about our Hosts featured on our Site and may publicly comment about the Experiences they offer. UrbanZeak does not control our Customers’ or users’ use of Host profile data or any other publicly available information.
        </p>

        <h4>Social Community Areas and Social Networking Services</h4>
        <p>
          Social Community Areas. The Site may be accessible through or contain connections to areas where you may be able to publicly post information, communicate with others such as discussion boards or blogs, review products and merchants, and submit media content. Prior to posting in these areas, please read our Terms of Use carefully. All the information you post may be accessible to anyone with Internet access, and any Personal Information you include in your posting may be read, collected, and used by others. This Privacy Statement does not apply to any unsolicited information you provide to the public through the Site or through any other means. This includes, but is not limited to, unsolicited information you provide to UrbanZeak for any ideas for new products or modifications to existing products. When you provide unsolicited information to UrbanZeak and/or the public, anyone may be able to reproduce, use, disclose, distribute and exploit such information without limitation or attribution. We encourage you to think carefully before publicly posting or otherwise providing any unsolicited information.
        </p>
        <p>
          Social Networking Services. We offer social networking users, such as Facebook users, the opportunity to interact with friends and to share on social networks. By logging into a social network through the Site, you grant us permission to access all of the elements of your social network profile information that you have made available to be disclosed and to use it in accordance with the social network’s terms of use and this Privacy Statement. For example, when you click “Connect” to grant UrbakZeak access to your Facebook account, we will import your name and other information from your Facebook account that you have elected to disclose, or are required, by the terms of your agreement with Facebook, to make public. Similarly, if you have a Facebook account, when you click “Like”, you grant us permission to post information to your Facebook account. Please refer to the privacy settings in your Facebook or other social network account for information about what data is shared with UrbanZeak and other connected applications and to manage the data that is shared through your social network accounts, including information about your activities on our through our Site. You can revoke our access to any social network at any time by amending the appropriate settings from within your social network account.
        </p>

        <h4>Disclosure of Your Personal Information to Third Parties</h4>
        <p>
          In certain circumstances, certain of your Personal Information may be available to, or shared without further notice to you, as set forth below:
        </p>
        <p>
          Experience Providers. If you purchase an Experience, as part of that transaction, your full name, as provided and available through your UrbanZeak user profile will be available to the Experience’s Host and Experience Provider as well as other UrbanZeak users. You agree that although we contractually limit how Experience Providers and Hosts may use UrbanZeak Customers’ Personal Information, we cannot control or be liable for any use of your Personal Information by Experience Providers, Hosts or other Customers of the same Experience.
        </p>
        <p>
          Business Transfers. UrbanZeak or its Parent Company may choose to engage in certain business transactions, such as buying or selling assets. In the event of such a transaction, we may disclose your Personal Information to parties or prospective parties to those transactions
        </p>
        <p>
          Vendors. UrbanZeak or its Parent Company may hire other companies to perform certain business-related functions on behalf of UrbanZeak (“Vendors”). Examples of such functions include processing email or other communications, maintaining databases and processing payments. When Vendors work on our behalf, they are only provided with information necessary to perform their specific function and are required to treat any Personal Information they process as a service provider to UrbanZeak in accordance with terms that are consistent with this Privacy Statement.
        </p>
        <p>
          Affiliates. UrbanZeak may disclose your Personal Information to the Parent Company and its Affiliates. When we disclose your Personal Information to the Parent Company or our Affiliates, their treatment of your Personal Information will be governed by their applicable privacy statements;
        </p>
        <p>
          Legal Requirements. UrbanZeak may disclose your Personal Information if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation, (ii) protect or defend the rights or property of UrbanZeak, (iii) investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person or the public, violations of UrbanZeak’s Terms of Use, or (iv) protect against legal liability.
        </p>
        <p>
          With Your Consent. UrbanZeak may disclose your Personal Information with Business Partners with your consent. For example, but without limitation, if you elect to participate in a co-branded promotion or enter a contest or sweepstakes, Personal and Non-Personal Information that you may provide in that context will be shared as disclosed in the context of its collection.
        </p>
        <p>
          UrbanZeak also may share Non-Personally Identifiable Information in its discretion, including with its Parent Company, Affiliates, Vendors, and Business Partners. UrbanZeak may also disclose anonymous user statistics in order to describe the Services to current and prospective business partners and to other third parties for other lawful purposes.
        </p>

        <h4>You choices</h4>
        <p>
          . UrbanZeak may use Personal Information to contact you to promote Services we believe will be of interest to you. If we do so, each communication we send you will contain instructions about how you can “opt-out” of receiving future promotional communications. We may also send you service-related communications, which are transactional in nature. For example an email message confirming your purchase of a UrbanZeak experience or message saying your UrbanZeak experience has been cancelled. You may not opt-out of transactional communications.
        </p>
        <p>
          If your Personal Information changes, you may correct or update it by logging into your account on the Site, by emailing info@urbanzeak.com or by messaging support via the Site. Please know that if your Personal Information has been disclosed to third parties in accordance with the terms of this Privacy Statement, we can no longer correct, modify, or delete that Personal Information.
        </p>
        <p>
          You may deactivate your account by emailing info@urbanzeak.com or by messaging support via the Site. UrbanZeak will use reasonable efforts to respond to your request within 10-20 business days. Please note that we will retain your Personal Information for as long as your account is active or as needed to provide you Services, maintain a record of your transactions for financial reporting purposes, and as necessary to comply with our legal obligations, prevent fraud, resolve disputes, troubleshoot problems, and enforce our agreements.
        </p>

        <h4>Security</h4>
        <p>
          UrbanZeak takes reasonable steps, including implementing administrative, technical, and physical controls, to protect your Personal Information. However, no communications over the Internet, or method of electronic storage, is 100% secure. Therefore, UrbanZeak cannot guarantee absolute security of your Personal Information and you should take special care in deciding what Personal Information you choose to provide.
        </p>

        <h4>Privacy Policies of Third Parties</h4>
        <p>
          This Privacy Statement only addresses the use and disclosure of information by UrbanZeak through your interaction with the Site. Other services and websites that may be accessible through links from the Site may have their own privacy statements and have different practices with respect to the collection, use and disclosure of Personal Information. Our Experience Providers, Hosts and Business Partners may also have their own privacy statements. We encourage you to familiarize yourself with the privacy practices of third parties prior to providing them with information or taking advantage of a sponsored offer or promotion.
        </p>

        <h4>Children’s Privacy</h4>
        <p>
          Pursuant to UrbanZeak’s Terms of Use you must be 18 years old or older to use the Services. In accordance with the Children’s Online Privacy Protection Act, we do not collect or maintain Personal Information directly from people we actually know are under 13 years of age. Parents or other adults may provide us information about children under the age of 13 who will participate in a UrbanZeak experience and we will protect that information as we protect all other Personal Information. If we learn that a child under the age of 13 has directly submitted his or her Personal Information to the Site, we will take steps to remove that the child’s Personal Information from our databases.
        </p>

        <h4>Changes to this Privacy Statement</h4>
        <p>
          We will routinely update this Privacy Statement to clarify our practices and to reflect new or different privacy practices, such as when we add new services, functionality or features to the Site. If we make material changes to this Privacy Statement we will provide notice before the changes become effective. You can determine when this Privacy Statement was last revised by referring to the date from which it was “Effective” above.
        </p>

        <h4>Contact Us</h4>
        <p>
          Please contact us at info@urbanzeak.com or by messaging support via the Site with questions regarding this Privacy Statement.
        </p>

        <h4>Glossary of Terms</h4>
        <p>
          <strong>Affiliate</strong> means a company owned and/or controlled by our Parent Company, Gyeser.
        </p>
        <p>
          <strong>Business Partners</strong> means, collectively, third parties with whom we conduct business, such as Experience Providers, merchants, co-marketers, distributors, and resellers. Our Business Partners’ use of Personal Information obtained through UrbanZeak is governed by their privacy policies and not subject to our policies or oversight.
        </p>
        <p>
          <strong>Cookie</strong> means a small amount of information that a web server sends to your browser that stores information about your account, your preferences, and your use of the Site and other Web sites. Some cookies are temporary, whereas others may be configured to last longer. “Session cookies” are temporary cookies used for various reasons, such as to manage page views. Your browser usually erases session cookies once you exit your browser. “Persistent cookies” are more permanent cookies that are stored on your computers or mobile devices even beyond when you exit your browser.
        </p>
        <p>
          <strong>Non-Personally Identifiable Information</strong> means information that alone cannot identify you, including data from Cookies and other technologies. Non-Personally Identifiable Information may be derived from Personal Information.
        </p>
        <p>
          <strong>Personal Information</strong> means information about you that specifically identifies you or, when combined with other information we have, can be used to identify you. This may include information such as your name, email address, home address, phone number, and in some cases, persistent identifiers.
        </p>
        <p>
          <strong>Third-Party Ad-Servers</strong> means Vendors and other third parties that provide the technology to place ads on websites and track ad performance.
        </p>
        <p>
          <strong>Vendors</strong> means, collectively, third parties that perform business operations on behalf of UrbanZeak or its Parent Company or Affiliates, such as transaction processing, billing, mailing, communications services (e-mail, direct mail, etc.), marketing, data processing and analytics, servicing, collections, or ad management.
        </p>
      </div>
    </div>
  </div>
</div>