<div class="sellPageHeader">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="headerText">
          <h1>An easier way to fill up your experiences</h1>
          <p>
            UrbanZeak gives you all the tools you need to help you fill your experiences.
          </p>
          <div class="actions">
            <a class="button is-primary">Join Now</a>
            <a class="button is-secondary">Product Tour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sellPageHeaderImage">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 headerImage">
        <%= image_tag "header-image.png" %>
      </div>
    </div>
  </div>
</div>

<div class="what-is-an-experience">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Is UrbanZeak for you?</h2>
        <p>
          Elly is a clay sculptor. She has been sculpting for over 12 years and has worked with various organizations and created many a masterpieces! She now wants to share what she has learnt with the world. She wants to show people the beauty of mud, show them how they can add life to clay and show them how they can make objects for their loved ones. Objects that will be treasure all through their existence.
        </p>
        <p>
          But she has some problems! She tried build a website but everytime she got someone, they charged her an arm and leg and they wanted her to sign expensive maintenance contracts. Every few months when she had to add or change something on the site they again wanted an arm and leg to add a few words. The other problem she had was that people called up or emailed and told her they wanted to attend along with 4 other people. So she freed up her day and cancelled all her other appointments only to find out at the last minute that they were not attending.
        </p>
        <p>
          <strong>Do you also have a great experience to provide and you face similar problems??</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="joinNow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="joinNowSellLink">
          <span>Simple pricing: <strong>Rs 1200 per month</strong> and <strong>12% per ticket </strong> sold.</span>
          <button class="button is-primary" style="font-weight: bold">Become a host now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sellPageContent">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 sellHeading">
        <h2>How does UrbanZeak help hosts like you? </h2>
        <p>
          UrbanZeak allows you to create and share experiences, while learning about ways in which you can
          improve your marketing and sales.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h4>Show</h4>
        <p>
          With UrbanZeak you get a beautiful page to show the world what your experience is about. Also show them who you are and what you have done. Show them how much love and care it takes to conduct one of your experiences.
        </p>
      </div>
      <div class="col-lg-3">
        <h4>Share</h4>
        <p>
          UrbanZeak gives your customers the tools they need to share your experience with their friends on all the major social networks out there. This helps you fill your experiences faster.
        </p>
      </div>
      <div class="col-lg-3">
        <h4>Manage</h4>
        <p>
          Tell people exactly where the experience is happening. Let them get in touch with you directly if they have any questions. Spend more time conducting experiences.
        </p>
      </div>
      <div class="col-lg-3">
        <h4>Sell</h4>
        <p>
          With our simple ticketing system people have to buy tickets before they attend and they cannot cancel at the last moment. Making sure you get paid even if they do not attend.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="joinNow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="joinNowSellLink">
          <span>Simple pricing: <strong>Rs 1200 per month</strong> and <strong>12% per ticket </strong> sold.</span>
          <a class="button is-primary" ng-click="signupashost()">Become a host now</a>
        </div>
      </div>
    </div>
  </div>
</div>