<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="static">
      <h1>Terms of Use</h1>
      <p>
        <strong>Date of Last Revision: November 15, 2013</strong>
      </p>
      <p>
        Welcome to UrbanZeak!
      </p>
      <p>
        UrbanZeak. (“UrbanZeak”, “we”, “us” or “our”) is wholly owned by Gyeser, which maintains the website at http://www.urbanzeak.com (the “Site”) and provides related services (collectively, such services, including any new features and applications, and the Site, the “Services”) subject to the following Terms of Use (as updated and amended from time to time, these “Terms of Use”).
      </p>

      <ol>
      <li>
        <h4>Acceptance of Terms of Use</h4>
        <p>
          1.1 Your Acceptance. By accessing or using the Site or the Services in any manner, you (the “user” or “you”) agree to comply with and be legally bound by these Terms of Use, including the Community, the Privacy Policy and those additional terms and conditions and policies referenced herein and/or available by hyperlink, whether or not you become a registered user of the Services. If you do not agree to be legally bound by any term or condition of these Terms of Use or any subsequent modifications hereto, you do not have any right to obtain information from or otherwise continue using the Services and your only recourse is to immediately discontinue use of the Services. YOU HEREBY AGREE TO THE USE OF ELECTRONIC COMMUNICATIONS IN ORDER TO ENTER INTO THIS AGREEMENT, TO CREATE OTHER RECORDS AND TO THE ELECTRONIC DELIVERY OF NOTICES, POLICIES AND RECORDS OF TRANSACTIONS BETWEEN YOU AND URBANZEAK WITH RESPECT TO THIS AGREEMENT, AS FURTHER DETAILED IN SECTION 16.
          1.2 Our Right to Modify. We reserve the right to modify these Terms of Use, including those additional terms and conditions and policies referenced herein and/or available by hyperlink, at any time, effective upon posting of an updated version of these Terms of Use on this page of the Site. You are responsible for reviewing the most recent version of these Terms of Use and remaining informed about any modifications. By using this Site, you agree that the posting of new or revised Terms of Use on the Site will constitute adequate and constructive notice to you of any and all revisions and changes. Continued use of the Services after any such changes or after explicitly accepting these Terms of Use upon logging into the Site will constitute your consent to such changes.
        </p>
      </li>

      <li>
        <h4>User Responsibilities</h4>
        <p>
          2.1 UrbanZeak is an online venue that connects customers (“Customers”) who seek local activities and experiences and organizations or individuals, who contract with UrbanZeak to offer and provide such activities and experiences (“Experience Providers”). These activities and experiences are referred to as “Experiences.” Each Experience will identify a host in the description of the Experience, who will provide and fulfill the Experience (each, a “Host”). Unless otherwise indicated in the description of the Experience, the Experience Provider is the Host. In some cases, the Experience Provider may subcontract or delegate the performance of its obligation to provide and fulfill the Experience to another party to serve as the Host for its Experience; in which case, the description of such Experience will list the designated Host and will separately identify the Experience Provider. In all cases, the Experience Provider is solely responsible for providing the Experience and is solely responsible for all acts and omissions of its Hosts; references to “Host” throughout these Terms of Use shall be deemed to include Experience Providers. We refer to Experience Providers and Customers, as well as any other Site visitors, as “users”. Customers may elect to purchase Experiences through the Services; and UrbanZeak may facilitate communications between Customers and Hosts. To be clear: (a) the Experiences are not included in the definition of Services and (b) all agreements and interactions related to the Experiences (other than any obligations and representations you make directly to us in these Terms of Use) are directly between the Customer and Experience Provider and are governed by Sections 2.5, 2.6 and 2.7 of these Terms of Use or such other agreement entered into between the Customer and Experience Provider. UrbanZeak does not control the quality, safety, morality or legality of any aspect of the Experiences listed, the conduct of Customers, Experience Providers, Hosts or other participant in any Experience, the ability of Experience Providers to provide Experiences or the ability of Customers to pay for Experiences. UrbanZeak merely provides a platform that allows people seeking an Experience to connect with people who provide the Experience. UrbanZeak does not have any liability to any user related to any Experience. Experience Providers are liable for the acts and omissions of its Hosts.
        </p>
        <p>
          2.2 Third-Party Content. In using the Services, you may be exposed to content and information, for example, data, text, files, information, usernames, graphics, images, photographs, profiles, audio, video, messages, services or links, from other users or third parties (“Third-Party Content”), either at the Site or through links to third-party websites. UrbanZeak does not control, and is not responsible or liable for, Third-Party Content posted on, transmitted through or linked from the Services. Such Third-Party Content is the sole responsibility of the person from whom such Third-Party Content originated. You understand that by using the Services, you may be exposed to Third-Party Content that is incomplete, offensive, indecent, inaccurate, misleading, unlawful or otherwise objectionable. You must evaluate the veracity of, and bear all risks associated with your exposure to, Third-Party Content.
        </p>
        <p>
          2.3 Identity Verification. You acknowledge that UrbanZeak does not pre-screen users or approve Third-Party Content and makes no attempt to confirm, and does not confirm, any user’s purported identity. We do not investigate any user’s reputation, conduct, morality, and criminal background or verify the information that any user submits to the Site. We do not endorse any persons who use, or register for, the Services, whether as Customers or Experience Providers, or any Experience listed on the Site. You are responsible for determining the identity and suitability of others whom you may contact or who may contact you by means of the Site. You agree to exercise caution and good judgment in all interactions with other users. UrbanZeak encourages you to communicate directly with potential transaction partners through the tools available on the Site and to review your Host and Experience Provider’s profile pages for feedback from other users. You may also wish to consider using a third-party service that provides additional user verification.
        </p>
        <p>
          2.4 Release. To the extent permitted under applicable laws, you hereby release UrbanZeak from any liability related to: (a) any incorrect or inaccurate Content posted on the Services, whether caused by us or any user of the Services, or by any of the equipment or programming associated with or utilized in the Services; (b) the conduct, whether online or offline, of any Experience Provider, Host or Customer; (c) any injury, loss or damage caused by another user, an Experience, or Content posted on the Services, whether online or offline; and (d) any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, the Services’ users’ communications.
        </p>
        <p>
          2.5 Providing an Experience.
          As an Experience Provider, you will define the conditions of, and may supply the content and images to describe and illustrate, your Experience and its terms, by completing and submitting, or authorizing an agent to complete and submit, a request to us. Submission of a request does not obligate UrbanZeak to accept the request or any of its contents nor to promote the Experience, and is not binding on UrbanZeak. You are responsible and liable for all Experience content and terms, and for our or any Customer’s use or reliance on any of the foregoing. If we accept your request, we may promote the Experience using any method and through any medium that we deem appropriate in our sole discretion, including through e-mail, mobile applications and any other type of electronic interface or distribution channel owned, affiliated, controlled or operated by or through UrbanZeak. We further reserve the right, but have no obligation, to promote the Experience through our Parent Company, affiliates and third party business partners from time to time. UrbanZeak will promote your Experience to UrbanZeak customers and potential customers based on geographic or other geolocational data, but will determine the customers and potential customers to whom your Experience is actually promoted and made available, if any, in its sole discretion. Experience Providers are entirely responsible for the Experience and any interaction with Customers.
        </p>
        <p>
          As an Experience Provider, you agree to: (a) accurately describe the Experience so that it complies with industry standards and applicable law (e.g., it is not deceptive, false or misleading) (b) specify all generally applicable policies (e.g., cancellation policies that apply to all Customers), restrictions and contractual arrangements (e.g., liability waivers required for all customers) applicable to the Experience prior to offering the Experience ("Rules"), and UrbanZeak will have no liability for the nature of your Rules or your failure to specify appropriate Rules; (c) provide the Experience without imposing restrictions or policies not listed in the Rules; (d) not accept any gratuity or require additional payments (including taxes) in order to deliver the promised Experience; (e) comply with all local laws and regulations in offering and providing your Experience (especially regarding safety and licensing requirements, food preparation, alcohol, etc.); (f) not solicit users to participate in an Experience off the platform or otherwise circumvent any fees that are paid or would be payable to UrbanZeak and (g) obtain all required permissions, licenses, consents, permits and allowances from any and all third-parties involved with or related to the Experience, including the venue(s) at which the Experience occurs or third party intellectual rights used or otherwise exploited as part of the Experience. You agree that unless you obtain the consent of any Customer, you will use the personal information of the Customer provided to you by UrbanZeak only to communicate with the Customer about the Experience in accordance with Section 9.2, and for no other purpose.
        </p>
        <p>
          As an Experience Provider, if you subcontract or delegate the performance of any of your obligations under these Terms of Use or the UrbanZeak Experience Provider Agreement to any third party to serve as the Host of your Experience, you will remain solely responsible and liable for all of your obligations, including financial obligations, and you will be responsible for all acts and omissions of the designated Host. You will require the Host to comply with all applicable restrictions and obligations imposed on you under these Terms of Use and the UrbanZeak Experience Provider Agreement, and you will be solely responsible for your financial and contractual relationship with the Host.
        </p>
        <p>
          2.6 Buying and Using an Experience. As a Customer purchasing and/or using an Experience, you represent that: (a) you possess the legal authority to enter into a contract; (b) you will purchase Experiences only on behalf of yourself and / or another person for whom you have the legal authority to act as his or her agent; (c) when purchasing on behalf of another person, you agree that all references to “you” and “your” in these Terms of Use also refers to all persons on who’s behalf you are making a purchase and that you have the authority to bind such person’s to the terms; (d) will comply with all local laws including participating in age-restricted events (e.g., be over 21 to buy an Experience with alcohol); (e) comply with the terms and conditions submitted on the Experience, including any Rules, without modification and without imposing any restrictions or additional charges or penalties that are not expressly stated in the Experience; (f) not solicit Hosts or other Customers for any commercial, religious or other reasons; (g) not publish, discuss, or otherwise share the private addresses of experiences with non-guests of that experience; and (h) arrive on time and at the stated location for redemption of the purchased experience (no reschedules or credits will be offered). Customer agrees and acknowledges that a Host may refuse to provide an Experience for violation of the Rules without refund, or for any or no reason upon refunding the amount paid.
        </p>
        <p>
          2.7 Relationship between Customers and Experience Providers. If you are a Customer, you provide to each Experience Provider the covenants provided to UrbanZeak in Sections 2.6 and 4.2, and agree to be bound by all Experiences that occur based upon false or inaccurate information, even if the false or inaccurate information was provided accidentally. If you are an Experience Provider, you provide to each Customer the covenants provided to UrbanZeak in Sections 2.5, 4.2 and 9.2, and agree to be bound by all Experiences that occur based upon false or inaccurate information, even if the false or inaccurate information was provided accidentally.
        <p>
          2.8 Recordings. UrbanZeak may photograph and/or record Customers engaging in an Experience, and any such image, recording or video (collectively “Recording”) will be owned exclusively by UrbanZeak. You agree that to the extent that your name, likeness, biography and / or voice appears in any such Recording, you grant to UrbanZeak an unrestricted, perpetual, worldwide right to use your Image as contained in the Recording in all media now known and later developed for any purpose, including for the purpose of promoting the Site and Services.

        </p>
      </li>

      <li>
        <h4>Eligibility for Use</h4>
        <p>
          3.1 Age. The Services are available only to, and may only be used by, individuals who are 18 years and older. You represent and warrant that you are at least 18 years old and that all registration information you submit is accurate and truthful. You may purchase Experiences on behalf of others who are not 18 years of age provided the Rules of the applicable Experience allow for participation by individuals younger than 18.
        </p>
        <p>
          3.2 Registering on Behalf of an Experience Provider. If you are registering on behalf of a an Experience Provider, you represent and warrant that you have the authority to bind such Experience Provider to these Terms of Use, and, for purposes hereof, the term “you” will also be deemed to mean the Experience Provider on whose behalf you have registered for the Services.
        </p>
        <p>
          3.3 Legal Compliance. You represent and warrant that you comply with all applicable domestic and international laws, statutes, ordinances and regulations, including without limitation any laws or regulations requiring licenses such as sightseeing guide licenses, and will use the Services in a manner consistent with all such applicable laws, statutes, ordinances and regulations.
        </p>
        <p>
          3.4 Right to Refuse Access. UrbanZeak may, in its sole discretion, refuse to offer access to or use of the Services to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Site is revoked in such jurisdictions.

        </p>
      </li>

      <li>
        <h4>User Conduct</h4>
        <p>
          4.1 Rules and Restrictions. You are solely responsible for your conduct and activities on and involving the Services and any and all content and information, for example, data, text, files, information, usernames, graphics, images, photographs, profiles, audio, video, messages, services or links (“Content”), that you submit, post and display on the Site or otherwise make available through the Services. In connection with your use of the Services, you must act responsibly and exercise good judgment. You agree to provide and maintain true, accurate, current and complete information about yourself or your Host. Without limiting the foregoing, you will not use the Services to:
          (a) post or otherwise transmit any Content that (i) is unlawful, harmful, threatening, abusive, harassing, tortious, excessively violent, defamatory, vulgar, obscene, pornographic, libelous, invasive of another‘s privacy, hateful racially, ethnically or otherwise objectionable; (ii) depicts or advocates the use of illicit drugs; (iii) makes use of offensive language or images; (iv) you do not have a right to transmit under any law or under contractual or fiduciary relationships; (v) poses or creates a privacy or security risk to any person; (vi) infringes any intellectual property or other proprietary rights of any party; (vi) is protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right; (vii) contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment; or (ix) in the sole judgment of UrbanZeak, is objectionable or which restricts or inhibits any other person from using or enjoying the Services, or which may expose UrbanZeak or its users to any harm or liability of any type;
          (b) violate any applicable local, state, national, international or other law or regulation, or any order of a court, including as it concerns online conduct and acceptable content;
          (c) further or promote any criminal activity or enterprise or provide instructional information about illegal activities;
          (d) advertise or offer to sell or buy any goods or services for any business purpose that is not specifically authorized;
          (e) infringe the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights;
          (f) interfere with, disrupt or damage the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
          (g) use the Services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;
          (h) harvest or collect email addresses or other contact information of other users from the Services by electronic or other means for the purposes of sending unsolicited emails or other unsolicited communications;
          (i) “stalk” or harass any other user of the Services or collect or store any information about any other user other than for purposes of transacting as an Experience Provider and Customer with one another;
          (j) obtain or attempt to access or otherwise obtain any materials or information through any means not intentionally made available or provided for through the Services;
          (k) register for more than one user account or register for a user account on behalf of an individual other than yourself except as set forth in Section 3.2;
          (l) transfer or sell your account and/or username to another party;
          (m) impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
          (n) use automated scripts to access, search collect information or otherwise interact with the Services (including without limitation robots, spiders or scripts) or use any robot, spider, other automatic device, or manual process to extract, “screen scrape,” monitor, “mine,” or copy any static or dynamic web page on the Site or the Content contained on any such web page for commercial use without our prior express written permission;
          (o) use the Services to find an Experience Provider, Host or Customer and then complete the transaction offline in order to circumvent your obligation to pay for the Services;
          (p) submit any experience with a false or misleading price, or submit any listing with a price that you do not intend to honor, or take any other action that may undermine the feedback or ratings systems;
          (q) provide a link to any other website;
          (r) use, reproduce, duplicate, copy, sell, resell or exploit: (i) any portion of the Site or Services; (ii) your use of the Site or Services, or (iii) your access to the Site or Services, in each case for any purpose other than for which the Site or Services are being provided to you; or
          (s) advocate, encourage, or assist any third party in doing any of the foregoing.
        </p>
        <p>
          4.2 Interaction with Other Users. You are solely responsible for your interactions with other users of the Services and Experiences. UrbanZeak will not be responsible for any damage or harm resulting from your interactions with other users of the Services and Experiences. We reserve the right, but have no obligation, to monitor interactions or disputes between you and other users of the Site, the Services or the Experiences. Though we strive to enforce these rules with all of our users, you may be exposed through the Site, Services or Experiences to Content that violates our policies or is otherwise offensive. You access the Site and Services at your own risk. We may, but are not obligated to terminate your access and/or remove Your Content from the Site if we determine or suspect that you or Your Content violates the terms of these Terms of Use or the applicable agreement with the offending user(s). We take no responsibility for your exposure to any Content on the Site or through the Services whether it violates our content policies or not. The disclaimers in subsection (c) above apply to Content provided by users. In no event will we take any responsibility for any Content provided by users, and we make no warranty, representation, endorsement, or guarantee regarding, and accept no responsibility or liability for, the quality, content, nature or reliability of any Content provided by any user or any opinion, recommendation, or advice expressed therein.
        </p>
        <p>
          4.3 Listing Conditions. By listing an experience on the Site, you (a) warrant that you and all aspects of the experience comply with UrbanZeak’s published policies and all applicable laws, (b) assume full responsibility for the content of the Experience offered, (c) understand that it is publicly available to be viewed and booked by any individual and (d) acknowledge and agree that the price and time you specify for that listing will constitute an essential part of a binding agreement between you and the Customer and agree to honor all registrations through the Site at the price and time listed.
        </p>
      </li>

      <li>
        <h4>Right to Cancel Account or Delete Content</h4>
        <p>
          5.1 Our Right to Cancel Accounts. UrbanZeak may, in our sole discretion and without liability to you or to any third party, with or without cause, with or without notice and at any time: (a) terminate your access to the Services, (b) deactivate or delete any of your accounts and all related Content and Experiences, (c) bar your access to any of such Content or (d) refuse, edit or delete any Content that you post or submit to the Site or through the Services.
        </p>
        <p>
          5.2 Storage of Content. You acknowledge that UrbanZeak may establish general practices and limits concerning use of the Services, including without limitation the maximum period of time that Content will be retained by the Services and the maximum storage space that will be allotted on UrbanZeak’s servers on your behalf. You agree that UrbanZeak has no responsibility or liability for the deletion or failure to store any Content maintained or transmitted by the Services. You further acknowledge that UrbanZeak reserves the right to change these general practices and limits at any time, in its sole discretion, with or without notice.
        </p>
      </li>

      <li>
        <h4>Payment Fees</h4>
        <p>
          6.1 Fee Structure. In exchange for providing the Services, UrbanZeak keeps a portion of the Experience Provider’s price of each Experience. As a Customer, you agree to pay the amount posted by the Experience Provider from whom you have chosen to purchase an Experience. As an Experience Provider, posting a listing is free, but you agree to pay UrbanZeak our then-current service charge for each purchase made by a Customer. Each Customer will be solely responsible for any payments due to Experience Provider, and Experience Provider will be solely responsible for providing the Experience to the Customer. Under no circumstances will UrbanZeak be liable to an Experience Provider for payment for any Experiences ordered by a Customer or liable to a Customer to provide any Experiences. Please remember that listing an Experience as an Experience Provider does not mean that a Customer will contact you or that you will have the opportunity to provide your services for an Experience.
        </p>
        <p>
          6.2 Customer Fee Terms. If you purchase an Experience, you will be asked to provide your credit card information and billing address. Your card will be charged the full amount of such experience at that time. If you are required to provide UrbanZeak information regarding your credit card or other payment instrument, you represent and warrant that such information is true and that you are authorized to use the payment instrument. You will promptly update your account information with any changes (for example, a change in your billing address or credit card expiration date) that may occur. If you dispute any charges you must let UrbanZeak know within sixty (60) days after the date that we charge you. If UrbanZeak terminates your account and use of the Services because you have breached these Terms of Use, you will not be entitled to the refund of any unused portion of fees or payments (if any).
        </p>

        <p>
          6.3 Experience Provider Fee Terms. If you are an Experience Provider, UrbanZeak will endeavor to remit Revenue (defined below) to you, less UrbanZeak’s applicable fees (as described on the Site and in the Services), within 10 days of the date of commencement of the Experience. For purposes hereof, “Revenue” will mean gross revenue actually received by UrbanZeak’s from its sale of Experiences hereunder, less taxes, refunds, returns, chargebacks and bad debt. All Revenue will be paid to the Experience Provider in accordance with the payment information provided by the Experience Provider to UrbanZeak through the Services, and the Experience Provider is solely responsible for ensuring such information remains accurate and up to date. If the Experience Provider disputes any payments, the Experience Provider must inform UrbanZeak within sixty (60) days after the date that UrbanZeak pays the Experience Provider. If the Experience Provider fails to dispute any payment within the sixty (60) day period, the earlier determinations of UrbanZeak will be deemed irrefutable. Your state or locality may impose a tax or taxes on your provision of an Experience. Because UrbanZeak is not a party to your agreement with the Customer and is not your or the Customer’s contracting agent, to the extent there is any state tax, local tax, or VAT on the Experience and/or the services you provide to the Customer, it is your sole responsibility to collect and/or pay such tax due and remit such tax or taxes to the appropriate taxing jurisdiction. For questions about your liability for any tax, you should contact your own attorney, accountant or tax advisor. If you determine that you need to collect tax for the Experience, please add the tax amount to the price. We also recommend that you are clear in your listing description and communication with guests about the tax.
        </p>
        <p>
          6.4 Refunds and Cancellations. If you wish to cancel or obtain a refund for an experience, please see UrbanZeak’s Refund and Cancellation Policy.
        </p>
        <p>
          6.5 Donations. Some Experience Providers may pledge to donate a portion of the funds they receive to a particular cause or charity. We do not control, and will not take any responsibility or liability for, whether the Experience Provider does in fact make the donation they pledged to make.
        </p>
        <p>
          6.6 Taxes. You will be responsible for paying any and all taxes applicable to any purchases or sales of experiences you make on the Site (excluding any taxes on UrbanZeak’s net income).
        </p>
      </li>

      <li>
        <h4>Privacy</h4>
        <p>
          Privacy Policy of UrbanZeak governs the handling, storage and use of information about you when you use our Site and when you receive electronic communications from us. By using the Site, you agree to the terms of the Privacy Policy.
        </p>
      </li>

      <li>
        <h4>Password and Account Security</h4>
        <p>
          8.1 Responsibility to Maintain Confidentiality. You are solely responsible for maintaining the confidentiality of your password(s) associated with any account you use to access the Services. Accordingly, you understand and agree that you are solely responsible for any and all activities that occur under your account.
        </p>
        <p>
          8.2 Notification of Unauthorized Use. You agree to (a) immediately notify UrbanZeak at info@urbanzeak.com of any unauthorized use of account or any other breach of security, and (b) ensure that you log off and exit from your account at the end of each session when accessing the Services.
        </p>
        <p>
          8.3 No Liability. UrbanZeak will not be liable for any loss or damage arising from your failure to comply with this Section 8.
        </p>
      </li>

      <li>
        <h4>Intellectual Property</h4>
        <p>
          9.1 User Intellectual Property. As between you and UrbanZeak, you shall retain all of your ownership rights in and to the Content you submit or post. However, by contributing Content, you grant UrbanZeak a perpetual, worldwide, non-exclusive, irrevocable, royalty-free, sub-licensable (through multiple tiers), fully paid-up, transferrable license to use, reproduce, create derivative works from, publish, edit, translate, display, perform, transmit, adapt, modify, offer for sale, sell, distribute, have distributed and promote such Content alone or as part of other works in any form, in any media or technology now known or hereinafter created and for any purpose, subject to the Privacy Policy as described in Section 7, and without compensation to you. You waive any “moral rights” or other rights with respect to attribution of authorship or integrity of materials regarding the Content that you may have under any applicable law under any legal theory. Your license of any Content submitted above extends to use for promotions, advertising, market research or any other lawful purpose, without limitation. You represent and warrant that you have sufficient rights to grant us this license.
        </p>
        <p>
          You will not upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. UrbanZeak does not have any express burden or responsibility to provide you with indications, markings or anything else that may aid you in determining whether the material in question is copyrighted or trademarked. You will be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission. You are entirely responsible for each individual item of Content you submit or make available on the Site or the Services, and you agree that such Content may be disseminated, distributed, publicly displayed, reproduced, used, sublicensed, posted, or published by us, and searched, displayed, printed or otherwise used or exploited by our users. Accordingly, you agree that we may authorize third parties, for example, entertainment publications, to republish all or parts of your Content for the purpose of promoting your Experience and / or UrbanZeak. You agree to indemnify and hold UrbanZeak harmless if you do not have the rights in your Content stated in this Section.
        </p>
        <p>
          9.2 Personal Information. As part of a transaction, you may obtain personal information, including email address, mailing address and phone number information, from another user. Without obtaining prior permission from the other user, this personal information will only be used for that transaction or for UrbanZeak-related communications. UrbanZeak has not granted you a license to use the information for unsolicited commercial messages. Without limiting the foregoing, without express consent from the user, you are not licensed to add any UrbanZeak user to your email or physical mail list.
        </p>
        <p>
          9.3 Re-posting Content. You may not display your own UrbanZeak-hosted image on another website, without our express written permission.
        </p>
        <p>
          9.4 Our Intellectual Property. This Site contains copyrighted material, trademarks and other proprietary information, including, but not limited to text, software, photos, video, graphics, music and sound, code, proprietary methods and systems used to provide the Site or Services (“Our Technology”), and the entire contents of the Site are: (i) copyrighted or trademarked by us and/or our licensors under international copyright and trademark laws; (ii) subject to other intellectual property and proprietary rights and laws; and (iii) owned by us or our licensors. UrbanZeak owns a copyright in the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. Our Technology may not be copied, modified, reproduced, republished, posted, publicly displayed, publicly performed, transmitted, sold, transferred, offered for sale, used to create derivative works, redistributed, or in any way exploited any of the content, in whole or in part, except as otherwise expressly stated under copyright law, without our prior written express permission and the prior written express permission of our applicable licensors. You must abide by all copyright notices, information, or restrictions contained in or attached to any of Our Technology. If copying, redistribution or publication of copyrighted material is permitted, you will make independent attribution and/or make no changes in or deletion of any author attribution, trademark legend or copyright notice. Nothing in these Terms of Use grants you any right to receive delivery of a copy of Our Technology or to obtain access to Our Technology except as generally and ordinarily permitted through the Site according to these Terms of Use. Furthermore, nothing in these Terms of Use will be deemed to grant, by implication, estoppel or otherwise, a license to Our Technology. Certain of the names, logos, and other materials displayed on the Site or in the Services constitute trademarks, tradenames, service marks or logos (“Marks”) of UrbanZeak or other entities. You are not authorized to use any such Marks. Ownership of all such Marks and the goodwill associated therewith remains with us or those other entities. Any use of third party software provided in connection with the Site or Services will be governed by such third parties’ licenses and not by these Terms of Use. Any violation of these restrictions may result in a copyright, trademark or other intellectual property right infringement that may subject you to civil and/or criminal penalties.
        </p>
        <p>
          The materials, information and content made available or displayed on the Site or sent to you through the Services, and any derivative works thereof, whether made by us or you (other than Your Content) are proprietary to us or our licensors. Subject to these Terms of Use, we hereby grant you a limited, personal, non-exclusive, non-transferable, revocable license to access and use the Site solely in accordance with these Terms of Service. Except for Your Content, you may not: (i) use Content or any part thereof to develop products or technologies similar to the products of UrbanZeak; (ii) reproduce, republish, modify or alter Content; (iii) distribute or sell, rent, lease, license or otherwise make Content available to others; or (iv) otherwise remove any text, copyright or other proprietary notices contained in Content without the express permission of UrbanZeak. In addition, you may not make any use that exceeds or violates these Terms of Use. Any copy of the Content or portion thereof must include all copyright notices, information, and restrictions contained in, or attached to, any of the Content, and you must abide by the foregoing notices and restrictions. We are not responsible to ensure, and disclaim any responsibility for, your ability to open, use or view the Content we provide. As between you and us, we retain all right, title and interest in and to the Content (other than Your Content), and all related intellectual property rights. We reserve all rights not granted in these Terms of Service.
        </p>
        <p>
          9.5 Use of Our Intellectual Property. You may not systematically retrieve data or other content from the Site to create or compile, directly or indirectly, in single or multiple downloads, a collection, compilation, database, directory or the like, whether by manual methods, through the use of bots, crawlers, or spiders, or otherwise. You may not display any portion of the Site in a frame (or any content from the Site through in-line links) without our prior written consent, which may be requested by contacting us at info@urbanzeak.com. You may, however, establish ordinary links to the homepage of the Site without our written permission, and you may make use of embedded HTML “widgets” if we have provided the HTML code

        </p>
      </li>

      <li>
        <h4>Right to Modify or Discontinue Services</h4>
        <p>
          UrbanZeak may, in our sole discretion and without liability to you or to any third party, with or without cause, with or without notice modify, suspend or discontinue, temporarily or permanently, the Services (or any part thereof). If you object to any such changes, your sole recourse will be to cease access to the Site or Services. Continued access to the Site or Services following notice of any such changes will indicate your acknowledgement of such changes and satisfaction with the Site or Services as so modified. You agree that we, in our sole discretion, may immediately terminate your access to the Site and Services at any time, for any reason, in our sole discretion. YOU AGREE THAT WE WILL NOT BE LIABLE TO YOU OR ANY OTHER PARTY FOR ANY TERMINATION OF YOUR ACCESS TO THE SITE OR SERVICES.
        </p>
      </li>

      <li>
        <h4>Disclaimer of Warranties</h4>
        <p>
          11.1 YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE.” YOU ACKNOWLEDGE AND AGREE THAT URBANZEAK DOES NOT CHECK, VERIFY OR GUARANTEE ANY CUSTOMER, EXPERIENCE PROVIDER, HOST, OR OTHER USER’S BACKGROUND OR RECORD. URBANZEAK HAS NO LIABILITY OR RESPONSIBILITY FOR ANY EXPERIENCE OR ANY INDIVIUALS PARTICIPATION IN ANY EXPERIENCE.
        </p>
        <p>
          11.2 IN PARTICULAR, URBANZEAK, ITS PARENT COMPANY, AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, AGENTS AND EMPLOYEES DO NOT REPRESENT OR WARRANT TO YOU THAT:
          (A) THE QUALITY OF THE EXPERIENCES, ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICES WILL MEET YOU EXPECTATIONS;
          (B) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR;
          (C) ANY INFORMATION OBTAINED BY YOU AS A RESULT OF YOUR USE OF THE SERVICES WILL BE COMPLETE, ACCURATE OR RELIABLE;
          (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICES WILL MEET YOU EXPECTATIONS; OR
          (E) THAT DEFECTS IN THE OPERATION OR FUNCTIONALITY OF ANY SOFTWARE OR ERRORS IN ANY DATA PROVIDED TO YOU AS PART OF THE SERVICES WILL BE CORRECTED.
        </p>
        <p>
          11.3 NO DATA, INFORMATION OR ADVICE, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM URBANZEAK, ITS PARENT COMPANY, AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, AGENTS OR EMPLOYEES OR THROUGH OR FROM THE SERVICES OR ANY EXPERIENCE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF USE.
        </p>
        <p>
          11.4 URBANZEAK, ITS PARENT COMPANY, AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, AGENTS AND EMPLOYEES FURTHER EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF TITLE, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON- INFRINGEMENT. THESE DISCLAIMERS APPLY TO THE SITE, SERVICES AND THE EXPERIENCES.
        </p>
        <p>
          11.5 NOTHING IN THESE TERMS OF USE, INCLUDING THIS SECTION 11 AND SECTION 12, WILL EXCLUDE OR LIMIT URBANZEAK’S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR CONDITIONS OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR LOSS OR DAMAGE CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR BREACH OF IMPLIED TERMS, OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, ONLY THE LIMITATIONS WHICH ARE LAWFUL IN YOUR JURISDICTION WILL APPLY TO YOU AND OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
        </p>
      </li>

      <li>
        <h4>Limitation of Liability</h4>
        <p>
          12.1 SUBJECT TO SECTION 11.5, YOU EXPRESSLY UNDERSTAND AND AGREE THAT URBANZEAK, ITS PARENT COMPANY, SUBSIDIARIES, OFFICERS, DIRECTORS, AGENTS AND EMPLOYEES WILL NOT BE LIABLE TO YOU FOR:
          (A) ANY INDIRECT, GENERAL, SPECIAL, COMPENSATORY, PUNITIVE, EXEMPLARY, CONSEQUENTIAL, AND/OR INCIDENTAL DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFIT, LOSS OF GOODWILL OR BUSINESS REPUTATION, LOSS OF DATA, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES OR OTHER INTANGIBLE LOSSES, BODILY INJURY, EMOTIONAL DISTRESS, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE;
          (B) ANY LOSSES OR DAMAGES WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSSES OR DAMAGES AS A RESULT OF OR ARISING FROM:
          (I) THE USE OR INABILITY TO USE THE SERVICES OR PARTICIPATE IN ANY EXPERIENCE;
          (II) ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY. RELIABILITY OR EXISTENCE OF ANY LISTINGS;
          (III) ANY EXPERIENCE, INTERACTION, COMMUNICATION, RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY OTHER USER OF THE SERVICES IN CONNECTION WITH THE SERVICES OR ANY EXPERIENCE;
          (IV) STATEMENTS, CONDUCT OR OMISSIONS OF YOU, ANY CUSTOMER, EXPERIENCE PROVIDER, HOST OR OTHER THIRD PARTY ON OR IN CONNECTION WITH THE USE OF THE SERVICES OR ANY EXPERIENCE, WHETHER ONLINE OR OFFLINE;
          (V) HARM TO YOU CAUSED IN WHOLE OR IN PART BY A THIRD PARTY, INCLUDING BUT NOT LIMITED TO ANOTHER USER OF THE SERVICES OR ANY PARTICIPANT IN ANY EXPERIENCE;
          (VI) HARM OR DAMAGE TO YOUR PROPERTY AS A RESULT OF USING THE SERVICES OR PARTICIPATION IN ANY EXPERIENCE;
          (VII) ANY CHANGES WHICH URBANZEAK MAY MAKE TO THE SERVICES, OR ANY PERMANENT OR TEMPORARY CESSATION IN THE PROVISION OF THE SERVICES (OR ANY FEATURES WITHIN THE SERVICES);
          (VIII) THE DELETION OF, CORRUPTION OF, OR FAILURE TO STORE, ANY CONTENT AND OTHER COMMUNICATIONS DATA MAINTAINED OR TRANSMITTED BY OR THROUGH YOUR USE OF THE SERVICES;
          (IX) DISCLOSURE OF, UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR CONTENT; OR
          (X) YOUR FAILURE TO KEEP YOUR PASSWORD OR ACCOUNT DETAILS SECURE AND CONFIDENTIAL.
          12.2 SUBJECT TO SECTION 11.5, IN NO EVENT WILL URBANZEAK’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES OR CAUSES OF ACTION ARISING OUT OF THE SERVICES, ANY EXPERIENCE OR THIS AGREEMENT EXCEED THE GREATER OF (A) THE AMOUNT YOU HAVE PAID URBANZEAK IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, AND (B) TEN DOLLARS ($10.00).
          12.3 THE LIMITATIONS ON URBANZEAK’S LIABILITY TO YOU IN THIS SECTION 12 WILL APPLY WHETHER OR NOT URBANZEAK HAS BEEN ADVISED OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF ANY SUCH LOSSES ARISING.
        </p>
      </li>

      <li>
        <h4>Indemnity</h4>
        <p>
          YOU AGREE TO INDEMNIFY AND HOLD URBANZEAK (ITS PARENT COMPANY AND EACH OF ITS AFFILIATES, SUBSIDIARIES, OFFICERS, DIRECTORS, AGENTS AND EMPLOYEES) HARMLESS FROM ANY DIRECT CLAIM, THIRD-PARTY CLAIM, DEMAND, ACTION, DAMAGE, LOSS, COST OR EXPENSE, INCLUDING WITHOUT LIMITATION REASONABLE ATTORNEYS’ FEES, ARISING OUT OF OR RELATING TO YOUR PROVISION OF, USE OF, OR PARTICIPATION IN ANY EXPERIENCE OR SERVICE. URBANZEAK WILL CONTROL ANY SUCH DEFENSE AND RELATED SETTLEMENT AND YOU WILL REASONABLY ASSIST US THEREWITH AT YOUR EXPENSE.
        </p>
      </li>

      <li>
        <h4>No Agency</h4>
        <p>
          You and UrbanZeak are independent contractors, and, except as provided in Section 2.6 and 3.2, no agency, partnership, joint venture, employee- employer or franchiser-franchisee relationship is intended or created by these Terms of Use.
        </p>
      </li>

      <li>
        <h4>Copyright Infringement</h4>
        <p>
          We respect the intellectual property of others, and we ask you to do the same. UrbanZeak reserves the right to terminate the right to use the Site by a user who infringes the copyrights of another.
          If you believe that any material has been posted via this Site by a user in a way that constitutes copyright infringement, please provide our copyright agent the following information:

        <ul>
          <li>
            An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
          </li>
          <li>A description of the copyrighted work that you claim has been infringed;</li>
          <li>A description of where the material that you claim is infringing is located on the Site or Services;</li>
          <li>Your address, telephone number, and email address;</li>
          <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
          <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
        </ul>
        Our copyright agent for notice of claims of copyright infringement on the Site or the Services can be reached by mail at: info@urbanzeak.com.
        </p>
      </li>

      <li>
        <h4>Electronic Communications.</h4>
        <p>
          We can only give you the benefits of our service by conducting business through the Internet, and therefore we need you to consent to our giving you Communications electronically. This Section 16 informs you of your rights when receiving Communications from us electronically. For contractual purposes, you (i) consent to receive communications from us in an electronic form; and (ii) agree that all terms and conditions, agreements, notices, documents, disclosures, and other communications (“Communications”) that we provide to you electronically satisfy any legal requirement that such Communications would satisfy if they were in writing. Your consent to receive Communications and do business electronically, and our agreement to do so, applies to all of your interactions and transactions with us. The foregoing does not affect your non-waivable rights. You may also receive a copy of these Terms of Use by accessing this Site. You may withdraw your consent to receive Communications electronically by contacting us in the manner described below. If you withdraw your consent, from that time forward, you must stop using the Site and Services. The withdrawal of your consent will not affect the legal validity and enforceability of any obligations or any electronic Communications provided or business transacted between us prior to the time you withdraw your consent. Please keep us informed of any changes in your email or mailing address so that you continue to receive all Communications without interruption.
        </p>
      </li>

      <li>
        <h4> General Terms</h4>
        <p>
          You are responsible for compliance with all applicable laws. The Terms of Use and the relationship between you and UrbanZeak will be governed by the laws of the Republic of India, without giving effect to any choice of laws principles that would require the application of the laws of a different country or state. You further consent to personal jurisdiction and venue in, and agree to service of process issued or authorized by, any court in New York. These Terms of Use are personal to you, and you may not transfer, assign or delegate your right and/or duties under these Terms of Use to anyone else and any attempted assignment or delegation is void. You acknowledge that we have the right hereunder to seek an injunction, if necessary, to stop or prevent a breach of your obligations hereunder. The paragraph headings in these Terms of Use, shown in boldface type, are included only to help make these Terms of Use easier to read and have no binding effect. Any delay or failure by us to exercise or enforce any right or provision of these Terms of Use will not constitute a waiver of such right or provision. No waiver by us will have effect unless such waiver is set forth in writing, signed by us; nor will any such waiver of any breach or default constitute a waiver of any subsequent breach or default. These Terms of Use constitute the complete and exclusive agreement between you and us with respect to the subject matter hereof, and supersedes all prior oral or written understandings, communications or agreements. If for any reason a court of competent jurisdiction finds any provision of these Terms of Use, or portion thereof, to be unenforceable, that provision of the Terms of Use will be enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder of these Terms of Use will continue in full force and effect. Except as expressly provided in Section 2.7 of this Agreement, there are no intended third party beneficiaries of this Agreement
        </p>
      </li>

      <li>
        <h4>Survival</h4>
        <p>
          Sections 2.4 (Release), 6 (Payment; Fees), 9 (Intellectual Property), 7 (Privacy), 11 (Disclaimer of Warranty), 12 (Limitation of Liability), 13 (Indemnity), 14 (No Agency), 165 (Electronic Communications), 17 (General Terms), and 21 (Feedback), as well as any other limitations on liability explicitly set forth herein and our proprietary rights in and to the Site, Content provided by us, Our Technology and the Services will survive any termination or expiration of these Terms of Use.
        </p>
      </li>

      <li>
        <h4>Reporting Misconduct</h4>
        <p>
          If you use the service of a Experience Provider, Host or provide a service to any Customer who you feel is acting or has acted inappropriately, including but not limited to offensive, violent or sexually inappropriate behavior, who you suspect of stealing from you, or who engages in any other disturbing conduct, you should immediately report such person to the appropriate authorities and then to UrbanZeak by contacting us with your police station and report number at info@urbanzeak.com; provided that your report will not obligate us to take any action beyond that required by law (if any) or cause us to incur any liability to you.
        </p>
      </li>

      <li>
        <h4>Feedback; Questions</h4>
        <p>
          Please contact us at info@urbanzeak.com to report any violations of these Terms of Use or to ask any questions regarding these Terms of Use. event that you provide us any ideas, thoughts, criticisms, suggested improvements or other feedback related to the Site or the Services (collectively “Feedback”), you agree we may use the Feedback to modify our Services and that you will not be due any compensation, including any royalty related to the product or service that incorporates your Feedback. You grant to us a worldwide, royalty-free, fully paid, perpetual, irrevocable license to use, reproduce, modify, translate, distribute, perform, display, import, sell, offer for sale, make, have made and otherwise exploit the Feedback in any form, media, or technology, whether now known or hereafter developed, and to allow others to do the same. This is true whether you provide the Feedback on the Site or through any other method of communication with us, unless we have entered into a separate agreement with you that provides otherwise.
        </p>
      </li>


      </ol>
      </div>
    </div>
  </div>
</div>