<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" id="about_experience" >
  <div class="container">

    <div class="p-t-60 p-b-60">
      <div class="row">
        <div class="col-md-6 feature-list ">
          <h2 class="normal"><span class="semi-bold">What is </span> included</h2>
          <%# simple_format(experience.description) %>
          <%= simple_format(@experience.what_does_this_include) %>

        </div>
        <div class="col-md-6 col-vlg-4 col-sm-12 ">
          <h3><span class="semi-bold">Join </span>now</h3>
          <h4>$ <span class="semi-bold"><%= experience.price %></span></h4>
          <%= render partial: 'attendees/form', :locals => {:experience_id => experience.id, :experience => experience} %>


        </div>

      </div>
      <br>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
