<div class="section ha-waypoint"  data-animate-down="ha-header-hide" data-animate-up="ha-header-hide">

  <%= render "navigation" %>

  <!--BEGIN SLIDER -->
  <div class="tp-banner-container">
    <div class="tp-banner" id="home" >
      <!-- SLIDE  -->
      <ul>

        <% header_images.each do |image| %>
          <!--INVIDIDUAL SLIDE START -->
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
            <!-- MAIN IMAGE -->
            <%= image_tag image.image_url.to_s, :data => { :bgfit => "cover", :bgposition => "center center", :bgrepeat => "no-repeat"  } %>

            <!-- LAYERS -->
            <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
                 data-x="center" data-hoffset="0"
                 data-y="60"
                 data-speed="500"
                 data-start="800"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off"
                 style="z-index: 6">
              <h2 class="text-white custom-font title ">
                <%= @experience.name %>
              </h2>

            </div>
            <div class="tp-caption sfb slider tp-resizeme slider"
                 data-x="center"
                 data-hoffset="0"
                 data-y="240"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off"
                 style="z-index: 6">
            </div>

          </li>

          <!--INVIDIDUAL SLIDE END -->
        <% end %>
        <!-- SLIDE  -->

      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
  <!-- END SLIDER -->



</div>
