<header id="ha-header" class="ha-header ha-header-hide "  >
  <div class="ha-header-perspective">
    <div class="ha-header-front navbar navbar-default">

      <div class="compressed">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <%= render "navigation_items" %>
        </div><!--/.nav-collapse -->
      </div>

    </div>
  </div>
</header>