<!--THINGS TO REMEMBER START-->
<div class="section white">
  <div class="p-t-40 p-b-20">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="center-text">
            <h3 class="normal">Things to <span class="semi-bold">remember</span></h3>

            <%= simple_format(experience.things_to_remember) %>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!--THINGS TO REMEMBER END-->