<!-- Modal -->
<%= render 'form' %>

<!--<%= link_to 'Back', experiences_path %>-->

<div class="alert alert-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="experienceCreate">
          <span><strong>Looks good?</strong> Create your experience now.</span>
          <a href="#" class="button is-primary">Create Event</a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 experienceShowContainer">
      <%= image_tag('experienceTopImage.jpg', :class => 'img-responsive') %>
      <h2>Sample experience name</h2>
      <div class="subDetails">
        <ul>
          <li>Date: <strong>Saturday September 2013</strong></li>
          <li>Time: <strong>6 PM</strong></li>
        </ul>
      </div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat quis mi eu ultrices. Quisque lobortis leo vitae arcu sollicitudin sagittis. Suspendisse augue nisl, suscipit sed ante quis, tincidunt iaculis felis. Donec a fermentum eros, eu eleifend risus. Donec convallis in erat eget scelerisque. Phasellus sit amet tempus mauris. Donec ultricies dapibus mattis. Integer consequat nisl neque, a hendrerit magna ornare quis. Praesent neque leo, rhoncus nec magna a, suscipit mollis nunc. Curabitur sagittis diam vel mattis euismod. Fusce eu enim elit. Sed congue vehicula risus id interdum. Aenean semper justo at lacinia luctus. Phasellus ac pretium lorem. Phasellus pretium magna eget odio imperdiet, quis viverra dui dapibus. Donec nec massa egestas, dignissim ipsum a, molestie erat.
        </p>
        <p>
          Sed bibendum risus libero, in tempor augue elementum eget. Donec et vehicula nibh, quis adipiscing turpis. Pellentesque eget scelerisque tortor, vel euismod massa. Nunc convallis consectetur convallis. Sed ac dui ac orci dapibus vehicula. Duis placerat adipiscing tempus. Aenean sollicitudin odio in leo bibendum, sed consectetur leo semper. Ut id augue sagittis, porttitor eros non, feugiat urna. Proin lorem purus, vulputate in vehicula et, venenatis in velit. Sed at eros auctor, egestas ligula vel, viverra nisl. Donec commodo volutpat dui rutrum vestibulum. Aenean venenatis, nulla a tempus elementum, elit nisi tincidunt ipsum, pellentesque consectetur lacus massa vel lorem. Nam porttitor odio at feugiat posuere. Etiam semper fringilla tellus, in rhoncus lacus imperdiet nec. Ut elementum varius leo quis gravida. Vestibulum fermentum elit libero.
        </p>
        <p>
          Sed eget tortor sed leo viverra lacinia non in elit. Mauris vel magna non diam commodo ultricies eu ut ligula. Aenean a pulvinar libero. Praesent vel tempus lorem. Morbi scelerisque pulvinar lacus, a mollis sem sollicitudin in. Pellentesque eu rutrum purus. Duis sit amet sapien viverra, bibendum ligula ac, eleifend lacus. Maecenas non erat ante. Donec felis turpis, posuere et purus nec, vestibulum consequat orci. Proin adipiscing at magna eu consectetur. Sed quis nulla nibh. Ut nec ipsum sodales sem luctus cursus. Morbi et lobortis felis, ac fermentum leo. Aliquam felis leo, imperdiet sit amet massa imperdiet, pellentesque dictum nunc.
        </p>
        <p>
          Etiam imperdiet et ligula ac placerat. Sed eget fringilla ante. Sed turpis erat, congue in congue a, tempus eget urna. Vivamus vitae lacus nisl. In hac habitasse platea dictumst. Suspendisse fringilla varius lacus, ut fringilla augue pulvinar vel. Duis convallis laoreet volutpat. Quisque in felis et sapien elementum mattis.
        </p>
        <p>
          Mauris consectetur orci quis enim interdum scelerisque dignissim vitae ante. Suspendisse vel rhoncus ipsum. In dignissim magna sit amet mauris suscipit pellentesque nec quis sapien. Nullam porta felis quis arcu ultrices hendrerit. Nunc lectus mi, dictum non scelerisque in, mattis eget erat. Aenean elementum hendrerit rhoncus. Phasellus arcu diam, eleifend eget quam nec, accumsan porta metus. Aenean sagittis neque sem, quis aliquet libero ultricies id. Ut iaculis cursus gravida. Fusce sit amet tempus lectus, semper faucibus augue. Aenean non enim vitae elit consequat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur neque felis, ultrices quis ipsum sed, mattis pulvinar nibh.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="experienceSubDetails">
        <h4>Sample experience name</h4>
        <strong>Rs 400 per seats</strong>
        <div class="form-group">
          <label for="exampleInputEmail1">Number of seats</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <button class="button is-secondary">Buy seats now</button>
      </div>

      <div class="experienceSubDetails">
        Venue
      </div>

      <div class="experienceSubDetails">
        google map
      </div>

    </div>
  </div>
</div>

The mai

