<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="newExperience">
        <h2>Create a new experience</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


<!--<%= link_to 'Back', experiences_path %>-->


