<!-- The top bar contains the logo, search bar and login info. This will be constant through out the application. This part of the page will not change. -->
<div class="topBar">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="/"><img src="/assets/img/logo.png" alt=""/></a>
            </div>
            <div class="col-md-7">
                <!--
                <div class="input-group">

                  <input type="text" class="form-control" placeholder="What are you looking for?">
                  <span class="input-group-addon">Search</span>
                </div>
                -->
            </div>
            <div class="col-md-3">

                <div class="login pull-right" ng-hide="isAuthenticated()">
                    <a href="#/users/login" class="button is-primary">Sign in / Sign up</a>
                </div>

                <div ng-show="isAuthenticated()" class="pull-right">
                    <a href="#/hosts/manage" class="button is-secondary">Manage Experiences</a>
                    <!--<a class="button is-primary" ng-click="logout()">Logout</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top bar end -->