<!-- The top bar contains the logo, search bar and login info. This will be constant through out the application. This part of the page will not change. -->
<div class="topBar">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="/"><img src="/assets/img/logo.png" alt=""/></a>
            </div>
            <div class="col-md-7">
                <!--
                <div class="input-group">

                  <input type="text" class="form-control" placeholder="What are you looking for?">
                  <span class="input-group-addon">Search</span>
                </div>
                -->
            </div>
            <div class="col-md-3">
                <login-toolbar></login-toolbar>
            </div>
        </div>
    </div>
</div>
<!-- Top bar end -->