<ul class="toolbar pull-right">
    <li class="divider-vertical"></li>
    <li ng-show="isAuthenticated()">
        <a href="/host/{{currentUserId}}/manage" class="button is-secondary">Manage Experiences</a>
    </li>
    <!--
    <li ng-show="isAuthenticated()" class="logout">
        <button class="button is-secondary logout" ng-click="logout()">Log out</button>
    </li>
    -->
    <li ng-hide="isAuthenticated()" class="login">
        <button class="button is-primary" ng-click="login()">Login / Register</button>
    </li>
</ul>
