<h4>Getting started</h4>

<div class="onboarding_steps">
	<ul>
		<li>
			<%= image_tag "template.png" %>
			<strong><a href="#">Create a template</a></strong>
			<p>
				Never in all their history have men been able truly to conceive of the world as one:
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<%= image_tag "experience.png" %>
			<strong><a href="#">Create an experience and publish it</a></strong>
			<p>
				Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet
			</p>
			<div class="clearfix"></div>
		</li>
		<li>
			<%= image_tag "integration.png" %>
			<strong><a href="#">Integrations (This needs a better name)</a></strong>
			<p>
				Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is 
			</p>
			<div class="clearfix"></div>
		</li>
	</ul>
</div>