<div class="content-header">
  <h1 class="title">
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
    Your profile
  </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="page-content inset">
	<div class="row">
		<div class="col-md-8">

			<div class="row">
				<div class="col-md-12">
					<div class="aboutHeading">
						<h3>About you</h3>
						<p>
							Complete your profile to get the best response from people visiting your site. 
						</p>
					</div>
					
				</div>
			</div>

			<%= render 'form' %>

		</div><!-- Root 8 col end -->
		<div class="col-md-4">
			<div class="explanationBox">
				<h4>Why an about?</h4>
				<p>
					People have never met you, telling them about all that you have done helps them get comfortable with you and are more likely to signup.
				</p>
			</div>
		</div><!-- Root 4 col end -->
	</div>
  
</div>

