// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
<%# Todo: Get the actual value of the host id here %>
<% host_id = 1 %>

///////////////////////////////////////////////////////////////////////////////////////////////////
// Live chat
///////////////////////////////////////////////////////////////////////////////////////////////////
// common variables
var baseCurrentHostUrl = 'https://urbanzeak.firebaseio.com/hosts/' + <%= host_id %> + '/';
var presenceUrl = baseCurrentHostUrl + 'usersViewing/';
//var currentUserMessagesUrl = currentUserUrl + 'messages/';

// Data structure urls
//var newUserPresenceRef = new Firebase(presenceUrl);
//var currentUserMessagesRef = new Firebase(currentUserMessagesUrl);
var usersViewingRef = new Firebase(presenceUrl);
var currentUserMessagesRef = new Firebase(presenceUrl);

// Getting all the users in the list
usersViewingRef.on('value', function(snapshot){
  var users = snapshot.val();
  snapshot.forEach(function(user){
    var currentUserInList = user.val();
    var itemtoAppend = '<li><a>'+ currentUserInList.id + '</a></li>';
    $('.customerList ul').append(itemtoAppend);
  });
});

$(document).ready(function(){
  //$('#chat').hide();
  $(".fancybox").fancybox({
    'autoSize': false,
    'padding': [0,0,0,0],
    'width': 800,
    'height': 400
  });

  // Getting the user clicked in the modal window
  $(document).on('click', '.customerList ul li a', function(){
    var customerClickedOn = $(this).text();
    $('#chatText').text('');
    var customerMessageUrl = baseCurrentHostUrl + 'customers/' + customerClickedOn + '/messages/';
    currentUserMessagesRef = new Firebase(customerMessageUrl);
    currentUserMessagesRef.on('value', function(snapshot) {

      snapshot.forEach(function(message){
        var currentMessage = message.val();
        //var itemtoAppend = '<li><a>'+ currentMessage.message + '</a></li>';
        displayChatMessage(currentMessage.message);

      });

      var message = snapshot.val();
      displayChatMessage(message.message);
      $('#message').val('');
    });
  });

  currentUserMessagesRef.endAt().limit(1).on('child_added', function(snapshot) {
    var message = snapshot.val();
    $('#chatText').text('');
    displayChatMessage(message.message);
    $('#message').val('');
  });
  function displayChatMessage(text) {
    $('<div/>').text(text).prepend($('<em/>').text(name+' ')).appendTo($('#chatText'));
    $('#chatText')[0].scrollTop = $('#chatText')[0].scrollHeight;
  };



});