var ready;
ready = function() {

  $('#file-upload-success-message').hide();

  var allFilesUploaded = false;

  //Date Pickers
//  $('.input-append.date').datepicker({
//    autoclose: true,
//    todayHighlight: true
//  });

  var coursedates = new Array();
  coursedates[0] = new Date(1405794600000 * 1000);
  coursedates[1] = new Date(1405794600000 * 1000);
  coursedates[2] = new Date(1405794600000 * 1000);
  coursedates[3] = new Date(1405794600000 * 1000);
  $('.input-append.date').datepicker('setDates', coursedates);
  // This works -- Check in May
  //var end_date = new Date(2014,04,26)
  //$("#experience_exp_date").datepicker("setDate", end_date);
  // Also this
//  var coursedates = new Array();
//  coursedates[0] = new Date(2014,04,26);
//  coursedates[1] = new Date(2014,04,27);
//  coursedates[2] = new Date(2014,04,28);
//  coursedates[3] = new Date(2014,04,29);
  //$("#experience_exp_date").datepicker("setDates",coursedates);



  //Time pickers
  $('.timepicker-default').timepicker();
  $('.timepicker-24').timepicker({
    minuteStep: 1,
    showSeconds: true,
    showMeridian: false
  });


  // Landmark auto complete
  $('#experience_land_mark').geocomplete({
    map: "#map",
    markerOptions: {
      draggable: true
    }
  });

  $('#experience_land_mark').bind("geocode:result", function(event, result){
    console.log(result);
    $("#experience_latitude").val(result.geometry.location.lat());
    $("#experience_longitude").val(result.geometry.location.lng());
  });

  $("#experience_land_mark").bind("geocode:dragged", function(event, latLng){
    $("#experience_latitude").val(latLng.lat());
    $("#experience_longitude").val(latLng.lng());
    $("#reset").show();
  });

  /*
  $('.remove-photo').click(function(e){
    e.preventDefault();
    var link = $(this).attr('data-photo-id');
    console.log(link);
    if(link == "")
    {
      alert("Link empty");
    }
    else
    {
      alert("Woohoo!");
    }
  });
  */
  $(function(){
    $('#files_uploaded_list').on('click','button', function(e){
      e.preventDefault();
      var link = $(this).attr('data-photo-id');

      if(link == null)
      {

      }
      else
      {
        var button_clicked = $(this);

        $.post('/dashboard'+link, function(data){
                  button_clicked.closest('td').closest('tr').hide();
                },
                'json'
        );

      }
    });
  });


  // Checking to see if all the files are uploaded.
  /*
  $('#create_experience').submit(function(event){
    event.preventDefault();
    if( allFilesUploaded == true ){
      $("#new_experience").submit();
    }
    else{
      setTimeout(function(){
        waitForElement();
      },250);
    }
  });
  */
};

$(document).ready(ready);
$(document).on('page:load', ready);

function onPhotoUpload(event){
  var filesUploaded = event.fpfiles;
  $('#file-upload-success-message').hide();

  $(filesUploaded).each(function(index){
    var file_attached = $(this).get(0).filename;
    var file_attached_url = $(this).get(0).url;
    console.log("The file name of the attached file is:", file_attached);

    var row_to_add = '<tr style="border-top:5px solid #fff"><td><img src="' + file_attached_url + '" class="img-responsive"/> </td><td></td></tr>';

    //console.log("The row is:", row_to_add);
    //$('#files-uploaded-list tr:last').after(row_to_add);
    $('#files_uploaded_list').append(row_to_add);
    $('#file-upload-success-message').show();
  });


}

/*
var fileName = "This is a test";
var rowToAppend = '<tr class="child"><td>' + fileName + '</td></tr>';
*/