<!-- BEGIN PAGE TITLE -->
<div class="page-title">
  <h3>Integrations</h3>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PlACE PAGE CONTENT HERE -->
<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <!--TITLE START-->
      <div class="grid-title no-border">
        <h4>External  <span class="semi-bold">Integrations</span></h4>
      </div>
      <!--TITLE END-->
      <!--CONTENT START-->
      <div class="grid-body no-border">
        <h3>Integrations</h3>
        <!--INTEGRATION LIST START-->
        <table class="table no-more-tables">
          <!--HEADING START-->
          <thead>
          <tr>
            <th style="width:1%" >
              <div class="checkbox check-default">
                <input id="checkbox10" type="checkbox" value="1" class="checkall">
                <label for="checkbox10"></label>
              </div>
            </th>
            <th style="width:9%">Provider</th>
            <th style="width:22%">Description</th>
            <th style="width:6%">Status</th>
            <th style="width:10%">Actions</th>
          </tr>
          </thead>
          <!--HEADING END-->
          <!--TABLE BODY START-->
          <tbody>
            <!--ROW 1 START-->
            <tr>
              <td class="v-align-middle">
                <div class="checkbox check-default">
                  <input id="checkbox11" type="checkbox" value="1">
                  <label for="checkbox11"></label>
                </div>
              </td>
              <td class="v-align-middle">Facebook</td>
              <td class="v-align-middle"><span class="muted">Post your experience to fb when created</span>
              </td>
              <td><span class="muted"><span class="label">NOT INTEGRATED</span></span>
              </td>
              <td class="v-align-middle">
                <button class="btn btn-primary btn-sm btn-small" type="button">Integrate Now</button>
              </td>
            </tr>
            <!--ROW 1 END-->
            <!--ROW 2 START-->
            <tr>
              <td class="v-align-middle">
                <div class="checkbox check-default">
                  <input id="checkbox11" type="checkbox" value="1">
                  <label for="checkbox11"></label>
                </div>
              </td>
              <td class="v-align-middle">Twitter</td>
              <td class="v-align-middle"><span class="muted">Post your experience to fb when created</span>
              </td>
              <td>
                <span class="label label-success">INTEGRATED</span>
              </td>
              <td class="v-align-middle">
                <button class="btn btn-default btn-sm btn-small" type="button">Disable</button>
              </td>
            </tr>
            <!--ROW 2 END-->
          </tbody>
          <!--TABLE BODY END-->
        </table>
        <!--INTEGRATION LIST END-->
      </div>
      <!--CONTENT END-->
    </div>
  </div>
</div>
<!-- END PLACE PAGE CONTENT HERE -->
