<!--GRID TITLE START-->
<div class="grid-title">
  <h4> <span class="semi-bold">No</span> experiences yet</h4>
</div>
<!--GRID TITLE END-->
<!--GRID BODY START-->
<div class="grid-body text-center">
  <!--NOTIFICATION ABOUT NO EXPERIENCES START-->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        Looks like you have not created any experiences, why don't you create one now and once people purchase tickets for the experience we will show you their purchases here.
      </p>
      <%= link_to "New Experience", dashboard_experiences_new_path, :class => "btn btn-primary btn-cons"  %>
    </div>
  </div>


  <!--NOTIFICATION ABOUT NO EXPERIENCES END-->
</div>
<!--GRID BODY END-->