.cart
{

  margin-top: 40px;
  background: white;

  .cartContent
  {
    padding: 20px;
    table {
      margin-top: 10px;
      width: 100%;
      th
      {
        border-bottom: 1px dashed #bbbbbb;
        padding: 10px 0;
      }
      td
      {
        font-size: 15px;
        padding: 10px 0;
        border-bottom: 1px dashed #bbbbbb;
      }
    }
  }

  .cartFooter
  {
    background: #f2f2f2;
    padding: 20px;
  }

}
