// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #efefeb;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00e23c;
$contrast_green_toned_down: #e4f3d9;
/************************************************************************/
/* Mixins */
/************************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow{
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}
//.box { @include border-radius(10px); }
/************************************************************************/
/* Topbar styling */
/************************************************************************/
.topBar
{
  background: $brand_off_white;
  border-bottom: 1px solid #d1d1c5;
}
/************************************************************************/
/* Header styling */
/************************************************************************/
.header
{
  background: image-url("headerImage/header.jpg");
  min-height: 500px;
  color: white;
  text-align: center;
  span
  {
    font-weight: 900;
  }
}
/************************************************************************/
/* Homepage heading */
/************************************************************************/


/************************************************************************/
/* Homepage heading */
/************************************************************************/


/************************************************************************/
/* Homepage heading */
/************************************************************************/


/************************************************************************/
/* Homepage heading */
/************************************************************************/
