// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/************************************************************************/
/* Mixins */
/************************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow{
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}
//.box { @include border-radius(10px); }
/************************************************************************/
/* Header */
/************************************************************************/
.header
{
  background: white;
  min-height: 350px;
  margin: 20px 0 0 0;

  width: 100%;
  height: 100%;
  background-image:url("/assets/header.png");
  background-position: top center;
  background-size: cover;

  .headerContent
  {
    //background: #000;
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
  }
}
/************************************************************************/
/* Content */
/************************************************************************/
.content
{
  margin-top: -60px;
  background: image-url("bg.png");//url("/assets/bg.png");
  min-height: 500px;
  padding: 60px;
  .filter
  {
    background: white;
    padding: 20px 20px 30px 20px;
    .cityFilter
    {
      input
      {
        margin-top: 10px;
      }
    }
    .filterHeader
    {
      color: #bbb;

    }
  }
  .experiencesContainer
  {
    h3
    {
      margin: 10px 0 0 0;
    }
    .experienceHomePage
    {
      margin: 40px 0 40px 15px;

      .image
      {
        padding-left: 0;
        background: #ffffff;
      }
      .experienceDetails
      {
        background: white;
        min-height: 225px;
        padding: 20px 30px 20px 0;
        margin-left: -20px;
        .experiencesubDetails
        {
          color: #aaa;
          text-transform: uppercase;
          font-size: .8em;
          font-weight: bold;
        }
        p
        {
          padding: 10px 0;
        }
        .hostDetails
        {
          .hostProfileLink
          {
            margin-left: 20px;
            margin-top: 5px;
            span
            {
              color: #aaaaaa;

            }
            a
            {
              display: block;
              margin-top: 5px;
            }
          }
          .viewNow
          {
            margin-top: 6px;
          }
        }
      }
    }
  }
}

