// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/************************************************************************/
/* Brand colors and styles */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #efefeb;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00e23c;
$contrast_green_toned_down: #e4f3d9;
/************************************************************************/
/* Mixins */
/************************************************************************/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow{
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}
//.box { @include border-radius(10px); }
/************************************************************************/
/* Homepage heading */
/************************************************************************/
.homepageCountry
{
  margin-bottom: 20px;
  h2
  {
    display: inline;

  }

}
/* Type ahead styling */
.twitter-typeahead {
  width: 100%;
}
.tt-dropdown-menu {
  width: 100%;
}
.tt-hint {
  width: 100%;
}
.loading
{
  background: image-url("spinner-16x16.gif") no-repeat left center;


}
/************************************************************************/
/* Sell to the customer */
/************************************************************************/
.customerSell
{
  text-align: center;
  margin-bottom: 40px;
  p
  {
    font-size: 18px;
  }
}
/************************************************************************/
/* Exp listing */
/************************************************************************/

.listingRow
{
  margin-bottom: 40px;
}
.listingContainer
{
  border: 1px solid rgba(204,204,204,1);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);
  box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);
}

.expListingImageContainer
{
  .expListingImg
  {
    border-top: 6px solid $brand_blue;

  }
  .expOverlayDate
  {
    padding: 10px 20px;
    background: rgba(0,0,0,.5);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 40px;
  }
  .hostOverlap
  {
    background: white;
    .homepageHostImage
    {
      margin: -50px auto 0px auto;
      border: 6px solid white;
    }
  }

}

.expListingContent
{
  background: #ffffff;
  padding: 20px;
  p
  {
    color: #999;
    margin-top: 10px;
  }
}
/************************************************************************/
/* Homepage sell */
/************************************************************************/
.homepageSell
{
  //background: image-url('homepagesellbg.png');
  background: white;
  padding: 20px 0;
  //color: #fff;
  //text-align: center;
  .heading
  {
    text-align: center;
  }
  .hostSellContainer
  {
    border: 1px solid #eee;
    margin: 20px 0;
    img
    {
      -moz-border-radius: 0px;
      -webkit-border-radius: 3px 3px 0px 0px;
      border-radius: 3px 3px 0px 0px;
    }
    .homeSellContent
    {
      padding: 20px;
      p
      {
        line-height: 1.8em;
        color: #aaa;
      }
    }

  }
}
.footer
{
  margin-top: 20px;
  ul
  {
    margin: 0;
    padding: 0;
    li
    {
      display: inline;
      margin-right: 10px;
    }
  }
}
/************************************************************************/
/* Filter */
/************************************************************************/
.filter
{
  background: white;
  padding: 20px;
  margin-bottom: 40px;

  border: 1px solid rgba(204,204,204,1);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);
  box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);

}