/************************************************************************/
/* Sell page styles */
/************************************************************************/
.sellPageHeader
{
  background: url('/assets/sell-page-header-bg.png') repeat;
  color: #f7f8f8;
  padding: 50px 0 350px 0;
  .headerText
  {
    text-align: center;
    p
    {
      font-weight: 500;
      font-size: 1.2em;
    }
    .actions
    {
      margin-top: 30px;
      a
      {
        //font-size: 1.2em;
        padding: 10px 30px;
        margin-right: 10px;
      }
    }
  }
}
.sellPageHeaderImage
{
  background: white;
}
.headerImage
{

  img
  {
    display: block;
    margin: -300px auto 0 auto;
  }
}
.joinNow
{
  background: white;
  padding-top: 20px;
  .joinNowSellLink
  {
    background: #d4f6ff;
    border: 1px solid #b2efff;
    color: #00657f;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    a
    {
      margin-left: 30px;
    }
  }
}
.sellPageContent
{
  background: #ffffff;
  padding: 20px 0;
  .sellHeading
  {
    text-align: center;
    margin-bottom: 20px;
  }
  .content
  {
    background: white;
    text-align: center;
  }
}
.what-is-an-experience
{
  background: white;
  text-align: center;
}
/************************************************************************/
/* Static pages */
/************************************************************************/
.static
{
  background: #ffffff;
  padding: 40px;

  border: 1px solid rgba(204,204,204,1);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);
  box-shadow: 0px 0px 3px 3px rgba(204, 204, 204, .4);
}