/************************************************************************/
/* Colors */
/************************************************************************/
$brand_orange: #f47238;
$brand_blue: #00a9d4;
$brand_off_white: #ebebe3;
$brand_blue_toned_down: #cad4d5;
$contrast_green: #00e23c;
/************************************************************************/
/* Common styles */
/************************************************************************/
body
{
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  background: $brand_off_white;
}
a
{
  color: $brand_blue;
  &:hover
  {
    color: #0080a1;
  }
}
h1, h2, h3, h4
{
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Raleway', Georgia, Cambria, 'Times New Roman', times, serif;
}
/************************************************************************/
/* Login styles */
/************************************************************************/
#login
{
  background: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
  h2
  {
    text-align: center;
  }
  .button
  {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
  }
}
/************************************************************************/
/* Registration styles */
/************************************************************************/
#registration
{
  background: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
  h2
  {
    text-align: center;
  }
  .button
  {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
  }
}
/************************************************************************/
/* Shared links styles */
/************************************************************************/
.sharedLinks
{
  text-align: center;
  margin-top: 20px;
  a
  {
    color: #797956;
  }
}