<div class="login pull-right" ng-hide="isAuthenticated()">
    <a href="#/users/login" class="button is-primary">Sign in / Sign up</a>
</div>

<div ng-show="isAuthenticated()" class="pull-right">
    <a href="#/hosts/manage" class="button is-secondary">Manage Experiences</a>
    <!--<a class="button is-primary" ng-click="logout()">Logout</a>-->
</div>


<--
<ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <li ng-show="isAuthenticated()">
        <a href="#">{{currentUser.firstName}} {{currentUser.lastName}}</a>
    </li>
    <li ng-show="isAuthenticated()" class="logout">
        <form class="navbar-form">
            <button class="btn logout" ng-click="logout()">Log out</button>
        </form>
    </li>
    <li ng-hide="isAuthenticated()" class="login">
        <form class="navbar-form">
            <button class="btn login" ng-click="login()">Log in</button>
        </form>
    </li>
</ul>
-->