<!DOCTYPE html>
<html>
<head>
  <title>Urbanzeak</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Typekit fonts -->
  <script type="text/javascript" src="//use.typekit.net/yjy6rjo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body>



<%= yield %>

</body>
</html>
